<p-toast></p-toast>

<div class="d-flex block-profile space-top-80">
  <div class="profile-left-menu col-lg-3">
  </div>

  <div>
    <div>
        <order-form-steps></order-form-steps>
    </div>

    <div class="fare-rule-details mt-5">
        <p-panel header="Выбор плана подписки">
          <strong>Выбор плана подписки:</strong>
          <div class="mt-1">
            <p>Количество месяцев: {{paymentMonth}}</p>
            <p-slider [(ngModel)]="paymentMonth"
                      [step]="1"
                      [min]="1"
                      [max]="12">
            </p-slider>

            <div class="mt-3">
              <button type="button"
                      class="btn btn-primary button-action-pur-short-control"
                      (click)="onChangePaymentMonth()">
                Рассчитать цену
              </button>
            </div>
          </div>

          <div class="mt-3">
            <small>Все скидки, пакеты и акции учитываются на этапе услуг и сервисов (если тариф подразумевает это).</small>
          </div>

          <div class="mt-3" *ngIf="orderForm.price > 0 && paymentMonth > 1">
            <strong>Цена со скидкой:</strong>
            <p>{{orderForm.price > 0 ? orderForm.price + ' ₽' : ''}}</p>

            <strong>Скидка за оплату сразу нескольких месяцев:</strong>
            <p>{{orderForm.price > 0 ? orderForm.percent + '%' : ''}}</p>
          </div>

          <div class="mt-3" *ngIf="disableDiscount">
            <strong>Цена:</strong>
            <p>{{orderForm.price !== freePrice && freePrice > 0 ? freePrice + ' ₽' : orderForm.price + ' ₽'}}</p>
            <div *ngIf="paymentMonth == 1">
              <small>При оплате на месяц скидка не предоставляется (но учитывается остаток по тарифу).</small>
            </div>
          </div>
        </p-panel>

        <div class="d-flex worksheet-line mt-3">
            <div class="control-input-text-worksheet control-order-form">
              <button type="button"
                      class="btn btn-primary button-action-pur-control"
                      [disabled]="!isContinue"
                      (click)="onRouteNextStep()">
                К услугам и сервисам
              </button>
            </div>
          </div>
    </div>
  </div>
</div>

<!-- Диалог запроса апрува пользователя с новой ценой. -->
<p-dialog header="Цена изменилась"
          [(visible)]="isShowNeedContinueModal"
          [breakpoints]="{'960px': '75vw'}"
          [style]="{width: '50vw'}"
          [draggable]="false"
          [resizable]="false">
<p>Цена новой подписки с учетом действующей подписки будет <strong>{{freePrice}}</strong></p>
<ng-template pTemplate="footer">
<p-button (click)="isShowNeedContinueModal=false" label="Отказаться" styleClass="p-button-text"></p-button>
<p-button (click)="onApproveCalculatedPriceAsync()" label="Согласиться" styleClass="p-button-success p-button-text"></p-button>
</ng-template>
</p-dialog>

<!-- Диалог уведомления о непрохождении по лимитам. -->
<p-dialog header="Внимание"
          [(visible)]="isShowSuccessLimitsModal"
          [breakpoints]="{'960px': '75vw'}"
          [style]="{width: '50vw'}"
          [draggable]="false"
          [resizable]="false">
  <p>Вы не можете оформить подписку на тариф, по лимитам которого не проходите. Вы можете отправить {{reductionSubscriptionLimitsType}} в архив, чтобы пройти лимиты.</p>
  <p>{{reductionSubscriptionLimits}} {{fareLimitsCount}}</p>
  <ng-template pTemplate="footer">
    <p-button (click)="isShowSuccessLimitsModal=false" label="Понятно" styleClass="p-button-primary p-button-text"></p-button>
<!--    <p-button (click)="onApproveCalculatedPriceAsync()" label="Согласиться" styleClass="p-button-success p-button-text"></p-button>-->
  </ng-template>
</p-dialog>
