<p-toast></p-toast>

<div class="block-moderation">
  <div>
    <p-megaMenu [model]="items"></p-megaMenu>

    <!-- Проекты. -->
    <div *ngIf="isProjectsModeration">
      <p-table [value]="aProjects" styleClass="p-datatable-gridlines" [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="caption">
          Проекты на модерации
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>ID</th>
            <th>Название проекта</th>
            <th>Дата модерации</th>
            <th>Дата создания</th>
            <th>Просмотр</th>
            <th>Одобрение</th>
            <th>Отклонение</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-prj>
          <tr>
            <td>{{prj.projectId}}</td>
            <td>{{prj.projectName}}</td>
            <td>{{prj.dateModeration}}</td>
            <td>{{prj.dateCreated}}</td>
            <td><button pButton
                        type="button"
                        label="Просмотр"
                        class="p-button-text"
                        (click)="onPreviewProjectAsync(prj.projectId)">
            </button>
            </td>
            <td><button pButton
                        type="button"
                        label="Одобрить"
                        class="p-button-success p-button-text"
                        (click)="onApproveProjectAsync(prj.projectId)">
              </button>
            </td>
            <td><button pButton 
                        type="button" 
                        label="Отклонить" 
                        class="p-button-danger p-button-text"
                        (click)="onRejectProjectAsync(prj.projectId)">
              </button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          Всего: {{totalProjects}}
        </ng-template>
      </p-table>
    </div>

    <!-- Вакансии. -->
    <div *ngIf="isVacanciesModeration">
      <p-table [value]="aVacancies" styleClass="p-datatable-gridlines" [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="caption">
          Вакансии на модерации
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>ID</th>
            <th>Название вакансии</th>
            <th>Дата модерации</th>
            <th>Дата создания</th>
            <th>Просмотр</th>
            <th>Одобрение</th>
            <th>Отклонение</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-vac>
          <tr>
            <td>{{vac.vacancyId}}</td>
            <td>{{vac.vacancyName}}</td>
            <td>{{vac.dateModeration}}</td>
            <td>{{vac.dateCreated}}</td>
            <td><button pButton
                        type="button"
                        label="Просмотр"
                        class="p-button-text"
                        (click)="onPreviewVacancyAsync(vac.vacancyId)">
            </button>
            </td>
            <td><button pButton
                        type="button"
                        label="Одобрить"
                        class="p-button-success p-button-text"
                        (click)="onApproveVacancyAsync(vac.vacancyId)">
              </button>
            </td>
            <td><button pButton
              type="button"
              label="Отклонить"
              class="p-button-danger p-button-text"
              (click)="onRejectVacancyAsync(vac.vacancyId)"></button></td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          Всего: {{totalVacancies}}
        </ng-template>
      </p-table>
    </div>

<!-- Анкеты. -->
<div *ngIf="isResumesModeration">
  <p-table [value]="aResumes" styleClass="p-datatable-gridlines" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="caption">
      Анкеты на модерации
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Дата создания</th>
        <th>Просмотр</th>
        <th>Одобрение</th>
        <th>Отклонение</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-resum>
      <tr>
        <td>{{resum.profileInfoId}}</td>
        <td>{{resum.email}}</td>
        <td>{{resum.dateModeration}}</td>
        <td><button pButton
                    type="button"
                    label="Просмотр"
                    class="p-button-text"
                    (click)="onPreviewResumeAsync(resum.profileInfoId)">
        </button>
        </td>
        <td><button pButton
                    type="button"
                    label="Одобрить"
                    class="p-button-success p-button-text"
                    (click)="onApproveResumeAsync(resum.profileInfoId)">
        </button>
        </td>
        <td><button pButton
                    type="button"
                    label="Отклонить"
                    class="p-button-danger p-button-text"
                    (click)="onRejectResumeAsync(resum.profileInfoId)">
        </button></td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      Всего: {{totalResumes}}
    </ng-template>
  </p-table>
</div>

</div>
</div>

<!-- Диалог просмотра проекта. -->
<p-sidebar [(visible)]="isShowPreviewModerationProjectModal" [fullScreen]="true">
  <div class="">
    <div class="control-input-text-worksheet">
      <div>
          <label>Название проекта</label>
      </div>
      <div>
          <input type="text"
          class="p-inputtext-sm input-control-worksheet"
          placeholder="Название проекта"
          pInputText
          autocomplete="new-password"
          [(ngModel)]="projectName"
          [disabled]="true" />
      </div>

      <div>
        <p-checkbox inputId="remarkProjectName"
                    [value]="'RemarkProjectName'"
                    (onChange)="onSetProjectRemarks('RemarkProjectName', '', 'Название проекта')">

        </p-checkbox>
        <label for="remarkProjectName">&nbsp;Есть замечание</label>
      </div>
    </div>

    <div class="control-input-text-worksheet mt-3">
      <div class="control-input-text-worksheet">
         <div>
            <label>Описание проекта</label>
        </div>
        <textarea input-control-worksheet
                  rows="5"
                  cols="100"
                  pInputTextarea
                  [autoResize]="true"
                  autocomplete="new-password"
                  placeholder="Детали проекта"
                  [(ngModel)]="projectDetails"
                  class="control-textarea"
                  [disabled]="true">
        </textarea>
      </div>

      <div>
        <p-checkbox inputId="remarkProjectDetails"
                    [value]="'RemarkProjectDetails'"
                    (onChange)="onSetProjectRemarks('RemarkProjectDetails', '', 'Описание проекта')">
        </p-checkbox>
        <label for="remarkProjectDetails">&nbsp;Есть замечание</label>
      </div>

      <div class="control-input-text-worksheet mt-3">
        <div>
            <label>Стадия проекта</label>
        </div>
        <div>
            <input type="text"
            class="p-inputtext-sm input-control-worksheet"
            placeholder="Стадия проекта"
            pInputText
            autocomplete="new-password"
            [(ngModel)]="stageName"
            [disabled]="true" />
        </div>
      </div>

      <!-- Замечания проекта. -->
    <div *ngIf="aRemarksProject.length > 0" class="mt-5">
      <p-table [value]="aRemarksProject" styleClass="p-datatable-gridlines">
        <ng-template pTemplate="caption">
          Замечания к проекту
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>ID проекта</th>
            <th>Название поля</th>
            <th>Замечание</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-prj>
          <tr>
            <td>{{prj.projectId}}</td>
            <td>{{prj.russianName}}</td>
            <td>
              <textarea input-control-worksheet
                        rows="5"
                        cols="100"
                        pInputTextarea
                        [autoResize]="true"
                        autocomplete="new-password"
                        placeholder="Введите замечание"
                        [(ngModel)]="prj.remarkText"
                        class="control-textarea">
            </textarea>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <!-- Всего: {{totalProjects}} -->
        </ng-template>
      </p-table>
    </div>
    </div>    
  </div>
  <ng-template pTemplate="footer">
    <div class="mt-3">
      <p-button icon="pi pi-check"
              (click)="onApproveProjectAsync(projectId)"
              label="Одобрить проект"
              styleClass="p-button-success p-button-text"
              [disabled]="aRemarksProject.length > 0">
    </p-button>

    <p-button icon="pi pi-check"
              (click)="onRejectProjectAsync(projectId)"
              label="Отклонить проект"
              styleClass="p-button-danger p-button-text">
    </p-button>

    <p-button icon="pi pi-check"              
              label="Внести замечания"
              styleClass="p-button-warning p-button-text"
              [disabled]="aRemarksProject.length == 0"
              (click)="onCreateProjectRemarksAsync()">
    </p-button>

    <p-button icon="pi pi-check"
              (click)="onSendProjectRemarksAsync()"
              label="Отправить замечания"
              styleClass="p-button-success p-button-text">
    </p-button>
    </div>
  </ng-template>
</p-sidebar>


<!-- Диалог просмотра вакансии. -->
<p-dialog header="Просмотр вакансии"
          [(visible)]="isShowPreviewModerationVacancyModal"
          [modal]="true"
          [style]="{width: '50vw', height: '50vw'}"
          [maximizable]="false"
          [draggable]="false"
          [resizable]="false">

  <div class="mt-3">
    <div class="control-input-text-worksheet">
      <div>
          <label>Название вакансии</label>
      </div>
      <div>
          <input type="text"
          class="p-inputtext-sm input-control-worksheet control-project"
          placeholder="Название проекта"
          pInputText
          autocomplete="new-password"
          [(ngModel)]="vacancyName"
          [disabled]="true" />
      </div>
    </div>

    <div class="control-input-text-worksheet">
      <div>
          <label>Опыт</label>
      </div>
      <div>
          <input type="text"
                  class="p-inputtext-sm input-control-worksheet control-project"
                  placeholder="Опыт"
                  pInputText
                  autocomplete="new-password"
                  [(ngModel)]="workExperience"
                  [disabled]="true" />
      </div>
    </div>

    <div class="control-input-text-worksheet">
      <div>
          <label>Занятость</label>
      </div>
      <div>
          <input type="text"
                  class="p-inputtext-sm input-control-worksheet control-project"
                  placeholder="Занятость"
                  pInputText
                  autocomplete="new-password"
                  [(ngModel)]="employment"
                  [disabled]="true" />
      </div>
    </div>

    <div class="control-input-text-worksheet">
      <div>
          <label>Оплата</label>
      </div>
      <div>
          <input type="text"
                  class="p-inputtext-sm input-control-worksheet control-project"
                  placeholder="Оплата"
                  pInputText
                  autocomplete="new-password"
                  [(ngModel)]="payment"
                  [disabled]="true" />
      </div>
    </div>

    <div class="control-input-text-worksheet mt-3">
      <div class="control-input-text-worksheet">
         <div>
            <label>Описание вакансии</label>
        </div>
        <textarea input-control-worksheet
                  rows="5"
                  cols="100"
                  pInputTextarea
                  [autoResize]="true"
                  autocomplete="new-password"
                  placeholder="Детали вакансии"
                  [(ngModel)]="vacancyText"
                  class="control-textarea"
                  [disabled]="true">
        </textarea>
      </div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check"
              (click)="onApproveVacancyAsync(vacancyId)"
              label="Одобрить вакансию"
              styleClass="p-button-success p-button-text">
    </p-button>

    <p-button icon="pi pi-check"
              (click)="onRejectVacancyAsync(vacancyId)"
              label="Отклонить вакансию"
              styleClass="p-button-danger p-button-text">
</p-button>
  </ng-template>
</p-dialog>

<!-- Диалог просмотра Анкеты. -->
<p-dialog header="Просмотр aнкеты"
          [(visible)]="isShowPreviewModerationResumeModal"
          [modal]="true"
          [style]="{width: '50vw', height: '50vw'}"
          [maximizable]="false"
          [draggable]="false"
          [resizable]="false">

    <div class="mt-3">
      <div class="control-input-text-worksheet mt-3">
        <div class="control-input-text-worksheet">
          <div>
            <label>Описание aнкеты</label>
          </div>
          <textarea input-control-worksheet
                    rows="5"
                    cols="100"
                    pInputTextarea
                    [autoResize]="true"
                    autocomplete="new-password"
                    placeholder="Детали aнкеты"
                    [(ngModel)]="profileInfoId"
                    class="control-textarea"
                    [disabled]="true">
        </textarea>
        </div>
      </div>
    </div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check"
              (click)="onApproveResumeAsync(profileInfoId)"
              label="Одобрить aнкету"
              styleClass="p-button-success p-button-text">
    </p-button>

    <p-button icon="pi pi-check"
              (click)="onRejectResumeAsync(profileInfoId)"
              label="Отклонить aнкету"
              styleClass="p-button-danger p-button-text">
    </p-button>
  </ng-template>
</p-dialog>
