<p-toast></p-toast>

  <form [formGroup]="formSignUp" class="section-1-container section-container">
    <div class="container">
      <div class="row">
        <div class="col-10 offset-1 col-lg-8 offset-lg-2 div-wrapper d-flex justify-content-center align-items-center">
          <div class="form-signup-wrapper">
            <h3 class="title-text">Регистрация</h3>

            <div class="form-signup">
              <div class="mb-3">
                <p-multiSelect
                  class="p-multiselect-control"
                  [options]="aComponentRoles"
                  formControlName="componentRoles"
                  optionLabel="componentRoleName"
                  optionValue="componentRoleId"
                  placeholder="Ваша роль на платформе"
                  autocomplete="off"
                  showHeader="false"
                  [displaySelectedLabel]="false"
                >
                <ng-template let-value pTemplate="selectedItems">
                  @if (!value || value.length === 0) {
                    <div>Ваша роль на платформе</div>
                  } @else {
                    <div class="inline-flex">
                      <div>Выбрано ролей: {{ value.length }}</div>
                    </div>
                  }
                </ng-template>
                </p-multiSelect>
              </div>

              <div class="mb-3">
                <input type="email"
                        class="p-control"
                        aria-describedby="emailHelp"
                        pInputText
                        placeholder="Email"
                        formControlName="email">
              </div>

              <div class="mb-3">
                <p-password
                  class="p-password-control"
                  formControlName="password"
                  [toggleMask]="true"
                  placeholder="Пароль"
                  [feedback]="false"
                  [pTooltip]="passwordRules"
                />
                <ng-template #passwordRules>
                  <div class="password-rules">
                      <h6>Пароль должен иметь:</h6>
                      <ul>
                        <li>Цифру.</li>
                        <li>Строчную букву.</li>
                        <li>Заглавную букву.</li>
                        <li>Один или несколько символов {{"@"}}$!%*#?&^_-</li>
                        <li>Длину не менее 8 символов.</li>
                      </ul>
                  </div>
                </ng-template>
              </div>

              <div class="mb-3 form-signup-extra">
                  <p-checkbox
                    formControlName="agree"
                    value="1"
                    inputId="agree"
                    class="p-checkbox-control"
                  />
                <p class="form-signup-checkbox-text">
                  Я принимаю и соглашаюсь с <a routerLink="/press/offer" class="a-link">правилами использования платформы</a>
                </p>
              </div>

              <button type="submit"
                      class="btn btn-signin"
                      (click)="onSendFormSignUpAsync()">
                Регистрация
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
