  <div class="section-1-container section-container">
    <div class="container">
      <div class="row">
        <div class="col-10 offset-1 col-lg-8 offset-lg-2 div-wrapper d-flex justify-content-center align-items-center">
          <div class="div-to-align">
            <div class="row justify-content-center form-signup">
              <h3 class="text-center title-text">Регистрация</h3>

              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input type="email" class="input-control" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">Мы никогда не будем делиться вашей электронной почтой с кем-либо
                  еще.</div>
              </div>

              <div class="mb-3">
                <label for="exampleInputPassword1">Пароль</label><br>
                <input type="password" class="input-control" autocomplete="new-password">
              </div>

              <div class="mb-3 form-check">
                <a href="" class="form-check-label" for="exampleCheck1">Забыли пароль?</a>
              </div>

              <button type="submit" class="btn btn-primary button-action-pur-control">Регистрация</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>