@use "/src/app/common/styles/spaces.scss";
@use "/src/app/common/styles/control.scss";
@use "/src/app/common/styles/styles.scss";

.task-details {
    margin-left: 10px;
}

// FIXME: Вынесем в общие стили, если еще где то будет использоваться.
.control-label-task-item {
  color: #929292;
  margin: 0px 10px 0px 0px;
  padding: 0;
}

.line-item {
  margin: 0px 100px 0px 0px;
}

.line-item-value {
  padding: 0;
  margin: 0;
}

// FIXME: Вынесем в общие стили, если еще где то будет использоваться.
.control-button-executor-me {
  padding: 0;
}

.line {
  padding: 5px 0px;
}

:host ::ng-deep .p-button {
  font-size: 12px;
  font-weight: 700;
  padding: 5px;
}

.task-actions {
  margin: 0 10px 0 0;
}

.task-name {
  font-size: 24px;
  font-weight: 400;
  max-width: 50%;
}

.empty-task-details {
  color: #929292;
  font-size: 15px;
  max-width: 640px;
}

:host ::ng-deep .p-inplace-display {
  font-size: 24px;
  font-weight: 400;
  max-width: 50%;
}

.task-name-title {
  font-weight: 400;
  margin: 0;
  font-size: 24px;
  line-height: 28px;
}

:host ::ng-deep .p-inplace-content {
  input {
    width: 100%;
  }
}

:host ::ng-deep .p-dropdown-label {
  margin: -5px 10px -5px -5px;
}

.chip-block {
  display: flex;
  flex-wrap: wrap;

  .chip-item {
    padding: 2px 2px;
  }
}

::ng-deep .p-chip-text {
  font-size: smaller;
}

.smaller-text {
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  font-size: smaller;
}

::ng-deep .ng-star-inserted .cancel {
  text-align: center;
}

.only-smaller-text {
  font-size: smaller;
}

.block-task-files {
  padding: 0 10px;
}

.block-attached-files {
  padding: 0 10px;
}

.link {
  cursor: pointer;
  color:blue;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.control-comment {
  display: flex;
  flex-direction: row-reverse;
}
