<div class="task-details mt-3">
  <!-- Название задачи. -->
  <div class="task-name">
    <p-inplace [style]="{'min-height':'33px'}" [active]="isActiveTaskName" (onActivate)="onActivateTaskName()">
      <ng-template pTemplate="display">
        <span class="task-name-title">{{taskName}}</span>
      </ng-template>
      <ng-template pTemplate="content">
          <input type="text" [(ngModel)]="taskName"  value="{{taskName}}" pInputText>
      </ng-template>
  </p-inplace>

  <button pButton 
          pRipple 
          icon="pi pi-save"
          type="button" 
          label="Сохранить" 
          class="p-button-success p-button-text p-button-sm"
          *ngIf="isActiveTaskName"
          (click)="onSaveTaskNameAsync(taskName)">
  </button>

  <button pButton 
          pRipple 
          icon="pi pi-times"
          type="button" 
          label="Отмена" 
          class="p-button-secondary p-button-text p-button-sm"
          *ngIf="isActiveTaskName"
          (click)="isActiveTaskName=!isActiveTaskName">
  </button>
  </div>

  <!-- Блок с кнопками действий. -->
  <div class="mt-3 mb-3 d-flex block-task-actions">
    <!-- <div class="block-buttons-task-actions">
      <button pButton type="button" 
            icon="pi pi-pencil" 
            label="Редактировать"
            class="p-button-text p-button-secondary task-actions">
    </button>
    </div>    -->

    <!-- <div>
      <button pButton 
              type="button" 
              icon="pi pi-file-import" 
              label="Прикрепить файлы"
              class="p-button-text p-button-secondary task-actions">
    </button>
    </div> -->

    <!-- <div>
      <button pButton type="button" 
            label="Возможные действия"
            class="p-button-text p-button-secondary task-actions">
    </button>
    </div> -->
  </div>
  
  <div>
    <hr>
  </div>

  <!-- Детали задачи. -->
  <div class="block-task-lines col-lg-12 d-flex">
    <div class="col-lg-4">
      <strong>Детали задачи</strong>
      <div class="d-flex line">
        <div class="line-item d-flex">
          <label class="control-label-task-item">Тип:</label>
          <p class="line-item-value">{{taskDetails$.value?.taskTypeName}}</p>
        </div>
      </div>

      <form class="d-flex line" [formGroup]="formPriorities">
        <label class="control-label-task-item">Приоритет:</label>
       
        <p-dropdown [options]="priorities$.value" 
                    [(ngModel)]="selectedPriority" 
                    optionLabel="priorityName" 
                    [showClear]="true" 
                    placeholder="Выберите приоритет"
                    [emptyMessage]="(priorities$ | async) === true ? 'Результатов не найдено' : 'Загрузка...'"
                    formControlName="priorityName"
                    (onChange)="onChangeTaskPriorityAsync()">
        </p-dropdown>
      </form>

      <div class="d-flex line">
        <label class="control-label-task-item">Метки:</label>
        
        <div class="chip-block">
          <div *ngFor="let lbl of taskDetails$.value?.tagNames">
            <div class="chip-item">
              <p-chip label="{{lbl ?? 'Нет'}}" [removable]="true" (onRemove)="onDetachTaskTagAsync(lbl)"></p-chip>
            </div>
          </div>
        </div>

        <p-overlayPanel #op [style]="{'min-width': '300px'}">
          <ng-template pTemplate>
            <div>
              <p-dropdown [options]="this.projectTags$.value"
                          [(ngModel)]="selectedTag"
                          optionLabel="tagName"
                          class="control-project-stages"
                          placeholder="Выберите тег"
                          (onChange)="onAttachTaskTagAsync()">
              </p-dropdown>
            </div>
          </ng-template>
        </p-overlayPanel>

        <button pButton 
                pRipple 
                icon="pi pi-plus"
                type="button" 
                class="p-button-secondary p-button-text p-button-sm"
                (click)="op.toggle($event)">
        </button>
      </div>
    </div>

    <form class="col-lg-4" [formGroup]="formStatuses">
      <div class="line-item d-flex">
        <label class="control-label-task-item">Статус:</label>
        <p-dropdown [options]="availableTransitions$.value" 
                    [(ngModel)]="selectedStatus" 
                    optionLabel="statusName" 
                    [showClear]="true" 
                    placeholder="Выберите статус"
                    [emptyMessage]="(availableTransitions$ | async) === true ? 'Результатов не найдено' : 'Загрузка...'"
                    formControlName="statusName"
                    (onChange)="onChangeStatusAsync()">
        </p-dropdown>
      </div>
    </form>

    <div class="col-lg-4">
      <strong>Люди</strong>
      <div>
        <div class="line-item d-flex">
          <label class="control-label-task-item">Автор:</label>
          <p class="line-item-value">{{taskDetails$.value?.authorName}}</p>
        </div>

        <div class="line-item d-flex">
          <label class="control-label-task-item">Исполнитель:</label>
          <div>
            <p class="line-item-value">{{taskDetails$.value?.executorName ?? 'Не назначен'}}</p>
            <button pButton pRipple label="Назначить меня" class="p-button-link control-button-executor-me"></button>
          </div>
        </div>

        <div class="line-item d-flex">
          <div>
            <label class="control-label-task-item">Наблюдатели:</label>
          </div>
         
          <div>
            <p class="line-item-value">{{taskDetails$.value?.watcherNames ?? 'Нет наблюдателей'}}</p>
            <button pButton pRipple label="Добавить меня" class="p-button-link control-button-executor-me"></button>
          </div>
        </div>
      </div>

      <div class="mt-3">
        <strong>Даты</strong>
      <div>
        <div class="line-item d-flex">
          <label class="control-label-task-item">Создано:</label>
          <p class="line-item-value">{{taskDetails$.value?.created}}</p>
        </div>

        <div class="line-item d-flex">
          <label class="control-label-task-item">Обновлено:</label>
          <p class="line-item-value">{{taskDetails$.value?.updated}}</p>
        </div>
      </div>
      </div>
    </div>
  </div>

  <div>
    <hr>
  </div>

  <!-- Описание задачи. -->
  <div class="block-task-lines col-lg-12 d-flex">
    <div class="col-lg-8">
      <div>
        <strong>Описание</strong>
      </div>

      <p-inplace [style]="{'min-height':'30px'}" [active]="isActiveTaskDetails" (onActivate)="onActivateTaskDetails()">
        <ng-template pTemplate="display">
          <span class="empty-task-details" *ngIf="taskDetails == null || taskDetails == ''">
            Добавьте описание задачи, чтобы исполнителю было понятно, что нужно сделать в рамках задачи
          </span>
          <span class="task-name-title">{{taskDetails}}</span>
        </ng-template>
        <ng-template pTemplate="content">
            <textarea input-control-worksheet
                      rows="5"
                      cols="100"
                      pInputTextarea
                      [autoResize]="true"
                      autocomplete="new-password"
                      placeholder="Описание задачи"
                      [(ngModel)]="taskDetails"
                      class="input-about-me"
                      value="{{taskDetails}}">
            </textarea>

           <div>
            <button pButton 
                    pRipple 
                    icon="pi pi-times"
                    type="button" 
                    label="Сохранить" 
                    class="p-button-success p-button-text p-button-sm"
                    *ngIf="isActiveTaskDetails"
                    (click)="onSaveTaskDetailsAsync(taskDetails)">
            </button>

            <button pButton 
                    pRipple 
                    icon="pi pi-times"
                    type="button" 
                    label="Отмена" 
                    class="p-button-secondary p-button-text p-button-sm"
                    *ngIf="isActiveTaskDetails"
                    (click)="isActiveTaskDetails=!isActiveTaskDetails">
            </button>
           </div>
        </ng-template>
    </p-inplace>
    </div>

    <div class="col-lg-4">

    </div>
  </div>

  <div>
    <hr>
  </div>

  <!-- Связанные задачи. -->
  <div class="block-task-lines col-lg-12 d-flex">
    <div class="col-lg-8">
      <strong>Связанные задачи</strong>
      <!-- <div class="empty-task-details" *ngIf="taskDetails$.value?.details == null || taskDetails$.value?.details == ''">
        Добавьте описание задачи, чтобы исполнителю было понятно, что нужно сделать в рамках задачи
      </div> -->

      <!-- <div class="task-details">
        {{taskDetails$.value?.details}}
      </div> -->
    </div>

    <div class="col-lg-4">

    </div>
  </div>

  <div>
    <hr>
  </div>

  <!-- Файлы задачи. -->
  <div class="block-task-lines col-lg-12 d-flex">
    <div class="col-lg-8">
      <strong>Вложенные файлы</strong>
    </div>

    <div class="col-lg-4">

    </div>
  </div>

  <div>
    <hr>
  </div>

  <!-- КОмментарии задачи. -->
  <div class="block-task-lines col-lg-12 d-flex">
    <div class="col-lg-8">
      <strong>Активность</strong>
    </div>

    <div class="col-lg-4">

    </div>
  </div>
</div>