<div class="d-flex block-profile space-top-80">
  <!-- Выбор проекта. -->
  <div class="mt-5 block-project-managment d-flex col-lg-12">
    <div class="col-lg-12">
      <div class="block-new-users">
        <p-card header="Выбор проекта">
          <p-scrollPanel class="" [style]="{ width: '100%', height: '350px'}">
            <p class="text-content">
              
            </p>
          </p-scrollPanel>      
      </p-card>
      </div>
    </div>
  </div>
</div>

<!-- Выбор стратегии представления. -->
<div class="d-flex block-profile space-top-80">
    <div class="mt-5 block-project-managment d-flex col-lg-12">
        <div class="col-lg-12">
          <div class="block-new-users">
            <p-card header="Выбор стратегии представления">
              <p-scrollPanel class="" [style]="{ width: '100%', height: '350px'}">
                <p class="text-content">
                  
                </p>
              </p-scrollPanel>      
          </p-card>
          </div>
        </div>
      </div>
</div>