// aka color-text-primary
$landing-text-dark-grey: #272730;

$project-main-blue-color: #374AF0;
$project-text-black: #212529;
$project-text-bluish-grey: #9395A7;
$project-stroke-nikel: #CACBDC;
$project-icons-grey: #6C757D;

$red: red;

$color-icon: #6B8199;
$blue-color-primary-blue-300: #1363CC;
$menu-hover-grey: #FAFAFA;
$footer-bg-light-grey: #FAF9FC;
$tooltip-bg-light-grey: #F2F2F2;
