$landing-text-dark-grey: #272730;

$project-main-blue-color: #374AF0;
$project-primary-blue-color: #1A73E8;
$project-text-black: #212529;
$project-text-bluish-grey: #9395A7;
$project-stroke-nikel: #CACBDC;
$project-icons-grey: #6C757D;

$red: red;

$footer-bg-light-grey: #FAF9FC;
