@use 'color.scss';
@use 'font.scss';

@mixin controlGrayForm {
    color: #403866;
    line-height: 1.2;
    font-size: 18px;
    display: block;
    background-color: #e6e6e6;
    // background: #FAFAFA;
    height: 62px;
    padding: 0 20px 0 38px;
    outline: none;
    border: none;
}

@mixin controlWhiteForm {
    width: 320px;
    height: 56px;
    padding: 16px 20px;
    gap: 8px;
    border-radius: 8px;
    background-color: white;
    border: 1px solid color.$project-stroke-nikel;
    line-height: 24px;
    color: color.$landing-text-dark-grey;
    outline: none;

    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: color.$project-text-bluish-grey;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: color.$project-text-bluish-grey;
        opacity:  1;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: color.$project-text-bluish-grey;
        opacity:  1;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: color.$project-text-bluish-grey;
    }
    &::-ms-input-placeholder { /* Microsoft Edge */
        color: color.$project-text-bluish-grey;
    }
    
    &::placeholder { /* Most modern browsers support this now. */
        color: color.$project-text-bluish-grey;
    }
}

@mixin autocompleteFix {
    box-shadow: 0 0 0px 1000px white inset;
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

@mixin systemFont {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    font-size-adjust: 0.54;
}

@mixin commonButton($fontsize, $bgcolor) {
    background-color: $bgcolor;
    font-size: $fontsize;
    color: white;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    border-radius: 8px;
    font-family: 'Montserrat';
    outline: none;
    border: none;
}

@mixin linkButton($color) {
    background-color: transparent;
    margin: 4px;
    font-size: 16px;
    font-family: "Montserrat Regular";
    text-decoration: underline;
    color: $color;
    border: none;
    cursor: pointer;
}

@mixin purButton {
    background-color: #827ffe;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    // text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    border-radius: 3px;
    font-family: 'Montserrat';
    outline: none;
    border: none;

    &:focus {
        background-color: #827ffe;
    }

    &:hover {
        background-color: #827ffe;
    }
}

@mixin redButton {
    background-color: #EF4444;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    // text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    border-radius: 3px;
    font-family: 'Montserrat';
    outline: none;
    border: none;

    &:focus {
        background-color: #EF4444;
    }

    &:hover {
        background-color: #EF4444;
    }
}

.input-control {
    width: 100%;
    @include controlGrayForm();
}

.input-control-restore {
    width: 50%;
    @include controlGrayForm();
}

.button-action-pur-control {
    width: 100%;
    height: 62px;
    @include purButton();
}

.button-action-pur-control-restore {
    width: 50%;
    height: 50px;
    @include purButton();
}

.button-action-pur-short-control {
    width: 30%;
    height: 42px;
    @include purButton();
}

.button-action-pur-control-worksheet {
    width: 150px;
    height: 40px;
    @include purButton();
}

.button-action-pur-control-fare-rule {
    height: 30px;
    width: 150px;
    @include purButton();
}

.button-action-danger-control-worksheet {
    width: 150px;
    height: 40px;
}

.button-action-red-control-worksheet {
    width: 150px;
    height: 40px;
    @include redButton();
}

.button-action-auth-control {
    background-color: #827ffe;
    // width: 100%;
    // height: 62px;
    font-size: 16px;
    color: #fff;
    // line-height: 1.2;
    // text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    // padding: 0 20px;
    border-radius: 3px;
    font-family: 'Montserrat';
    outline: none;
    border: none;

    &:focus {
        background-color: #827ffe;
    }

    &:hover {
        background-color: #827ffe;
    }
}

.title-text {
    font-family: 'Montserrat';
    font-size: 30px;
    color: #403866;
    line-height: 1.2;
    // text-transform: uppercase;
    text-align: center;
    width: 100%;
}

.control-project {
    width: 100%;
}

.control-vacancy {
    width: 200px;
}

::ng-deep .p-autocomplete-input {
    @include controlGrayForm();
    background: #FAFAFA;

    &:focus {
        box-shadow: none !important;
    }
}

.control-order-form {
    width: 100%;
}

::ng-deep .p-button-text {
    &:focus {
        box-shadow: none !important;
    }
}

::ng-deep .control-textarea-big-width {
  max-width: 676px;
  word-break: break-word;
}

:host ::ng-deep input {
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:enabled:focus {
        @include autocompleteFix();
    }
}

:host ::ng-deep .p-multiselect-control .p-multiselect.p-focus {
    @include autocompleteFix();
}

:host ::ng-deep .p-control, 
:host ::ng-deep .p-multiselect-control .p-multiselect,
:host ::ng-deep .p-password-control .p-inputtext {
    @include controlWhiteForm();
    @include systemFont();

    .p-multiselect-label {
        color: currentColor;
        padding: 0;
    }
}

:host ::ng-deep .p-multiselect-control .p-multiselect {
    padding-right: 0;

    .p-multiselect-trigger {
        width: auto;
    }

    .p-multiselect-item span {
        padding-top: 2px;
        @include systemFont();
    }
}

:host ::ng-deep .p-multiselect-control .p-checkbox,
:host ::ng-deep .p-checkbox-control .p-checkbox {
    .p-checkbox-box {
        border: 1px solid color.$project-stroke-nikel;
        border-radius: 4px;

        &.p-highlight {
            background: color.$project-main-blue-color;
        }
    }

    &:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
        box-shadow: none !important;
    }
}

.btn-signin {
    @include commonButton(18px, color.$project-main-blue-color);
    height: 56px;
    width: 320px;
}

.a-link {
    color: color.$project-icons-grey;
}

:host ::ng-deep .required-panel .p-panel-title,
:host ::ng-deep .required-number .p-inputnumber,
.required {
    position: relative;
    width: fit-content;

    &::after{
        content: "*";
        color: red;
        position: absolute;
        top: 2px;
        right: -12px;
        font-weight: 400;
    }
}

// p-editor height = toolbar(вариативно) + .ql-container
:host ::ng-deep .ql-container {
    height: 200px;
}

:host ::ng-deep .headless-editor {
    .ql-toolbar {
        height: 1px;
        padding:0;
        border: none;
    }
    .ql-formats {
        display: none;
    }
    .p-editor-toolbar.ql-snow {
        border-top: 1px solid #dee2e6;
    }
    .ql-container {
        height: unset;
    }
}

:host ::ng-deep .frameless {
    .p-editor-toolbar.ql-snow,
    .ql-snow {
        border: none;
    }
    .ql-editor {
        padding: 0;
        font-size: 1rem;
    }
}

:host ::ng-deep .p-inplace .p-inplace-display {
    width: 100%;
}

:host ::ng-deep .p-editor-toolbar {
    .ql-clean,
    .ql-image {
        display: none;
    }
}

::ng-deep .p-tooltip {
    &.p-tooltip-right .p-tooltip-arrow {
        border-right-color: color.$tooltip-bg-light-grey;
    }
    &.p-tooltip-top .p-tooltip-arrow {
        border-top-color: color.$tooltip-bg-light-grey;
    }
    &.p-tooltip-bottom .p-tooltip-arrow {
        border-bottom-color: color.$tooltip-bg-light-grey;
    }
    &.p-tooltip-left .p-tooltip-arrow {
        border-left-color: color.$tooltip-bg-light-grey;
    }
    .p-tooltip-text {
        @include font.Regular_12_135();
        background-color: color.$tooltip-bg-light-grey;
        color: color.$landing-text-dark-grey;
        border-radius: 8px;
        box-shadow: none;
    }
    .p-tooltip-arrow {
        transform: scale(200%);
    }
}
