.space-top-50 {
    margin-top: 50px;
}

.space-top-80 {
    margin-top: 80px;
}

.space-top-30 {
    margin-top: 30px;
}

.space-bottom-50 {
    margin-bottom: 50px;
}

.control-input-text-worksheet {
    margin: 0px 10px 0 0px;
}

.white-space {
    white-space: pre-line;
  }