.block-catalog-vacancies {
  border: 1px solid #ededed;
  border-radius: 4px;
  line-height: 1.5;

  .catalog-vacancies-item {
    color: #545454;
    border-bottom: 1px solid #ededed;
    background: #FAFAFA;

    .project-text-item {
      padding: 20px;
    }

    .selectedColor {
      background: #E8F4FF;
    }
  }
}

.block-catalog-filters {
  background: #FAFAFA;
  padding: 20px;
  border-left: 1px solid #ededed;
}

.text-content {
  color: #333;
  font-size: 16px;
  line-height: 1.65;
}
