<div class="d-flex">
  <div class="d-flex mt-3 col-lg-3">
    <div class="block-worksheet col-lg-12">
      <div class="d-flex block-task">
        <div class="task-ver-line">
          <p-menu [model]="items"></p-menu>
        </div>
      </div>
    </div>
  </div>

  <div class="block-create-tag col-lg-9 mt-3" *ngIf="isShowProfile">
    <h3>Загрузка изображения профиля</h3>
    <div class="status">
      <div class="tag">
        <div>
          <p-image [src]="userAvatarLink" alt="Аватар" width="50"></p-image>
        </div>

        <div class="mt-1">
          <p-fileUpload mode="basic"
                        accept="image/*"
                        (onSelect)="onSelectUserAvatarFileAsync($event)"
                        [auto]="true"
                        chooseLabel="Загрузить изображение"
                        class="p-button-sm">

          </p-fileUpload>
          <small>Новое изображение заменит текущее.</small>
        </div>
      </div>
    </div>
  </div>

  <!-- Настройки Scrum -->
  <div class="block-scrum col-lg-9 mt-3" *ngIf="isShowScrumSettings">
    <h3>Настройки Scrum в проекте</h3>
    <div class="scrum">
      <div>
        <div class="flex flex-column gap-3">
          <!-- Настройки длительности спринтов -->
          <div>
            <strong>Настройки длительности спринтов</strong>
            <div *ngFor="let s of sprintDurationSettings$.value" class="field-checkbox">
              <div class="d-flex mt-3">
                <div>
                  <div>
                    {{s.name}} {{s.label}}
                  </div>
                  <div>
                    <p-inputSwitch [(ngModel)]="s.checked" [disabled]="s.disabled"></p-inputSwitch>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="mt-3">
            <strong>Автоматически перемещать незавершенные задачи спринта в:</strong>
            <div *ngFor="let s of sprintMoveNotCompletedTasksSettings$.value" class="field-checkbox">
              <div class="d-flex mt-3">
                <div>
                  <div>
                    {{s.name}} {{s.label}}
                  </div>
                  <div>
                    <p-inputSwitch [(ngModel)]="s.checked" [disabled]="s.disabled"></p-inputSwitch>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
