<!-- Меню хидера (верхнее). -->
<nav class="navbar navbar-light justify-content-evenly">
  <div class="form-inline">
    <p-menubar [model]="aHeaderItems" class="second-menu">
      <ng-template pTemplate="start">

      </ng-template>
      <ng-template pTemplate="end">
        <input type="text" pInputText placeholder="Поиск" class="w-full search-line" />
      </ng-template>
    </p-menubar>
  </div>
</nav>

<div class="d-flex col-lg-12 mt-3 block-title">
  <h5>Kanban-доска проекта [Название проекта]</h5>
</div>

<!-- Блок с задачами. -->
<div class="d-flex mt-3">
  <div class="block-worksheet col-lg-12">
    <div class="d-flex block-task">
      <div class="task-ver-line" *ngFor="let st of workSpaceConfig$.value.projectManagmentTaskStatuses">
        <div class="status-name">
          {{st.statusName.toUpperCase()}}
          {{st.total}}
        </div>

        <div class="block-tasks" *ngFor="let t of st.projectManagmentTasks">
          <div class="task">
            <!-- <div class="task-name">
              {{t.name}}
            </div> -->
            <p-card header="{{t.name}}" class="card-task">
              <!-- <p class="m-0">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                  quas!
              </p> -->
          </p-card>

           <p-card header="{{t.name}}" class="card-task">
              <!-- <p class="m-0">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                  quas!
              </p> -->
          </p-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
