@use "/src/app/common/styles/spaces.scss";
@use "/src/app/common/styles/control.scss";
@use "/src/app/common/styles/styles.scss";

.block-tasks {
  // min-height: 500px;
  // max-height: 510px;
  // overflow-x: scroll;
  overflow-y: scroll;
}

.block-task {
  overflow-x: scroll;

  // FIXME: Сделать это динамически, по задаче #26072758 Добавление выдвижного меню в рабочем пространстве.
  // margin: 0px 10px 0px 400px;
  margin: 0px 10px 0px 10px;

  .task-ver-line {
    // min-height: 300px;
    min-width: 280px;
    background: #F1F3F5;
    margin: 0 10px 0 0px;
    // max-height: 500px;
    //   min-height: 800px;
    // max-height: 810px;
  }
}

.block-title {
  margin: 0px 10px 0px 10px;
}

.status-name {
  font-weight: 700;
  margin: 0 5px;
  color: #717D94;
}

.card {
  margin: 5px 5px 5px 5px;
  font-size: 15px;
  line-height: 16px;
  word-break: break-word;
  color: #717D94;
  min-height: 90px;
  font-weight: 400;
  flex-wrap: nowrap;
  // border: none;
  cursor: pointer;
  // cursor: grab;
  border: 2px solid #dedede;

  &:hover {
    background: #ffffff1a;
    // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
}

.title {
  margin: 10px 10px 10px 10px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
}

.block-scrum-task-list {
  font-size: smaller;
}

.scrum-task-line {
  padding: 7px 0px;
}

.laconic-text {
  font-size: 13px;
  line-height: 16px;
  padding: 4px 8px;
}

.selected-task-row {
  cursor: pointer;

  &:hover {
    box-shadow:
      -5px -7px 2px -5px #6c757d,
      -5px 7px 2px -5px #6c757d,
      5px -7px 2px -5px #6c757d,
      5px 7px 2px -5px #6c757d;
    position: relative;
  }
}

.low {
  background: #F7F7F7;
}

.medium {
  background: #C6E2FF;
}

.high {
  background: #FFE1D7;
}

.urgent {
  background: #FFD6C8;
}

.blocker {
  background: #FF9696;
}

.line-see-more {
  width: 100%;
}

.control-see-more {
  font-weight: 500;
}

:host ::ng-deep .p-chip {
  font-size: smaller;
}

.info-line {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .info-line-number {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .space-line-number {
    margin-right: 7px;
  }
}

.scrum-info-line {
  display: flex;
  //justify-content: space-between;
  align-items: center;
  //margin-right: 1px;
}
