@use "/src/app/common/styles/spaces.scss";
@use "/src/app/common/styles/control.scss";
@use "/src/app/common/styles/styles.scss";
@use "/src/app/modules/header/components/header.component.scss";

::ng-deep .second-menu .p-component {
  border: none;
}

.search-line {
    &:focus {
        box-shadow: none;
    }
}

.block-task {
  overflow-x: scroll;

  // FIXME: Сделать это динамически, по задаче #26072758 Добавление выдвижного меню в рабочем пространстве.
  // margin: 0px 10px 0px 400px;
  margin: 0px 10px 0px 10px;

  .task-ver-line {
    min-height: 100px;
    min-width: 280px;
    background: #F1F3F5;
    margin: 0 10px 0 0px;
  }
}

.block-title {
  margin: 0px 10px 0px 10px;
}