@use "/src/app/common/styles/spaces.scss";
@use "/src/app/common/styles/control.scss";
@use "/src/app/common/styles/styles.scss";
@use "/src/app/modules/header/components/header.component.scss";

::ng-deep .second-menu .p-component {
  border: none;
}

.search-line {
    &:focus {
        box-shadow: none;
    }
}

.block-task {
  overflow-x: scroll;
  // max-width: 288px;

  .task-ver-line {
    min-height: 100px;
    // width: 288px;
    min-width: 280px;
    // max-width: 288px;
    background: #F1F3F5;
    margin: 0 10px 0 0px;
  }
}