<p-toast></p-toast>

<div class="d-flex block-profile space-top-50">
  <div class="profile-left-menu col-lg-3">
  </div>
  <div>
    <p-table [value]="userOrders$.value.orders"
             [(selection)]="selectedOrder"
             dataKey="orderId"
             [paginator]="userOrders$.value.total > 0"
             [rows]="10"
             styleClass="p-datatable-gridlines"
             responsiveLayout="scroll">

      <ng-template pTemplate="caption">
        <h3>Ваши заказы</h3>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th></th>
          <th>ID заказа</th>
          <th>Название заказа</th>
          <th>Описание заказа</th>
          <th>Дата создания заказа</th>
          <th>Статус заказа</th>
          <th>Подробнее</th>
          <!-- <th>Редактирование</th> -->
          <!-- <th>Удаление</th> -->
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-order>
        <tr>
          <td>
            <p-tableCheckbox [value]="order"></p-tableCheckbox>
          </td>
          <td>{{order.orderId}}</td>
          <td>{{order.orderName}}</td>
          <td>{{order.orderDetails}}</td>
          <td>{{order.dateCreated}}</td>
          <td>{{order.statusName}}</td>
          <td><button pButton type="button"
                      label="Подробнее"
                      class="p-button-outlined p-button-primaryproject.projectId"
                      (click)="onRouteViewOrder(order.orderId)">
          </button>
          </td>
          <!-- <td><button pButton type="button"
                      label="Редактировать"
                      class="p-button-outlined p-button-primaryproject.projectId"
                      (click)="onRouteEditVacancy(vacancy.vacancyId)">
          </button>
          </td> -->
          <!-- <td><button pButton
                      type="button"
                      label="Удалить"
                      class="p-button-outlined p-button-danger"
                      (click)="onBeforeDeleteVacancy(vacancy.vacancyId, vacancy.vacancyName)">
          </button></td> -->
        </tr>
      </ng-template>

      <ng-template pTemplate="summary">
        Всего: {{userOrders$.value.total}}
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="7">
              <div class="empty-orders">
                У вас пока нет заказов.
              </div>
            </td>
        </tr>
    </ng-template>
    </p-table>
  </div>
</div>