::ng-deep {
    .p-sidebar-left {
        width: 248px;
        padding: 4px;
    }

    .p-dropdown-trigger {
        background-image: url(../../../../assets/images/landing/chevron-selector-vertical.svg);
        background-position: center;
        background-repeat: no-repeat;
        width: 24px;
        aspect-ratio: 1 / 1;
        margin-left: auto;
    }

    .p-dropdown {
        border: none;
        box-sizing: none;
        box-shadow: none;
        font-weight: 600;
        font-family: 'Montserrat';
        width: 100%;
        flex-direction: row;
        justify-content: start;
        padding: 8px;
    }

    .p-dropdown-label {
        font-family: 'Montserrat';
        color: black;
    }

    .p-inputtext {
        padding: 0;
    }
}

.second-level-item {
    padding-left: 20px;
}

.item-name {
    font-size: 16px;
    font-weight: 400;
    margin: 0 4px 0 8px;
}

.item-link {
    color: black;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 8px 0 8px 8px;
    border-radius: 8px;
}

.item-link:hover {
    background-color: #EDF2FD;
    color: #1363CC;
}

.icon {
    width: 20px;
    aspect-ratio: 1 / 1;
}

.chevron {
    width: 24px;
    aspect-ratio: 1 / 1;
    margin-left: auto;
}