<div class="d-flex block-profile space-top-50">
  <div class="profile-left-menu col-lg-3">

  </div>

  <div class="block-worksheet">
    <div class="worksheet-panel">
      <p-panel header="Контактная информация" [toggleable]="true">
        <ng-template pTemplate="icons">
          <button pButton class="p-panel-header-icon p-link" (click)="menu.toggle($event)">
            <span class="pi pi-cog"></span>
          </button>
          <p-menu #menu id="config_menu" [popup]="true"></p-menu>
        </ng-template>
        
        <div class="d-flex">
            <div class="control-input-text-worksheet">
                <input type="text" 
                        class="p-inputtext-sm input-control-worksheet" 
                        placeholder="Фамилия" 
                        pInputText
                        autocomplete="new-password" />

                <div class="field-checkbox">
                    <p-checkbox [(ngModel)]="isShortFirstName" [binary]="true" inputId="binary"></p-checkbox>
                    <label for="binary">
                        <small>Отображать только первую букву фамилии</small>
                    </label>
                </div>
            </div>
    
            <div class="control-input-text-worksheet">
                <input type="text" 
                        class="p-inputtext-sm input-control-worksheet" 
                        placeholder="Имя" 
                        pInputText
                        autocomplete="new-password" />
            </div>

            <div class="control-input-text-worksheet">
                <input type="text" 
                        class="p-inputtext-sm input-control-worksheet" 
                        placeholder="Отчество" 
                        pInputText
                        autocomplete="new-password" />
            </div>            
        </div>       

        <div class="d-flex worksheet-line">
            <div class="control-input-text-worksheet">
                <input type="text" 
                        class="p-inputtext-sm input-control-worksheet" 
                        placeholder="Email" 
                        pInputText
                        autocomplete="new-password" />                
            </div>

            <div class="control-input-text-worksheet">
                <input type="text" 
                        class="p-inputtext-sm input-control-worksheet" 
                        placeholder="Номер телефона" 
                        pInputText
                        autocomplete="new-password" />   
            </div>           
        </div>

        <div class="d-flex worksheet-line">
            <div class="control-input-text-worksheet">
                <input type="text" 
                        class="p-inputtext-sm input-control-worksheet" 
                        placeholder="Telegram" 
                        pInputText
                        autocomplete="new-password" />   
            </div>

            <div class="control-input-text-worksheet">
                <input type="text" 
                        class="p-inputtext-sm input-control-worksheet" 
                        placeholder="WhatsApp" 
                        pInputText
                        autocomplete="new-password" />   
            </div>

            <div class="control-input-text-worksheet">
                <input type="text" 
                        class="p-inputtext-sm input-control-worksheet" 
                        placeholder="ВКонтакте" 
                        pInputText
                        autocomplete="new-password" />   
            </div>
        </div>

        <div class="d-flex worksheet-line">
            <div class="control-input-text-worksheet">
                <input type="text" 
                        class="p-inputtext-sm input-control-worksheet" 
                        placeholder="Другая соц.сеть" 
                        pInputText
                        autocomplete="new-password" />   
            </div>        
        </div>

        <div class="d-flex worksheet-line">
            <div class="control-input-text-worksheet">
                <button type="submit" 
                      class="btn btn-primary button-action-pur-control-worksheet">
                Сохранить
              </button>
            </div>
        </div>
      </p-panel>
    </div>

    <div class="worksheet-panel space-top">
      <p-panel header="О себе" [toggleable]="true">
        <ng-template pTemplate="icons">
          <button pButton class="p-panel-header-icon p-link" (click)="menu.toggle($event)">
            <span class="pi pi-cog"></span>
          </button>
          <p-menu #menu id="config_menu" [popup]="true"></p-menu>
        </ng-template>
        
        <div class="d-flex worksheet-line">
            <div class="control-input-text-worksheet">
                <textarea input-control-worksheet 
                            rows="5" 
                            cols="100" 
                            pInputTextarea 
                            [autoResize]="true" 
                            autocomplete="new-password" >
                </textarea>
            </div>                         
        </div>

        <div class="d-flex worksheet-line">
            <div class="control-input-text-worksheet">
                <input type="text" 
                        class="p-inputtext-sm input-control-worksheet" 
                        placeholder="Должность" 
                        pInputText
                        autocomplete="new-password" />   
            </div>  

            <div class="control-input-text-worksheet">
                <input type="text" 
                        class="p-inputtext-sm input-control-worksheet" 
                        placeholder="Опыт (стаж)" 
                        pInputText
                        autocomplete="new-password" />   
            </div>  
        </div>

        <div class="d-flex worksheet-line">
            <div class="control-input-text-worksheet">
                <button type="submit" 
                      class="btn btn-primary button-action-pur-control-worksheet">
                Сохранить
              </button>
            </div>
        </div>
      </p-panel>
    </div>

    <div class="worksheet-panel space-top">
      <p-panel header="Навыки" [toggleable]="true">
        <ng-template pTemplate="icons">
          <button pButton class="p-panel-header-icon p-link" (click)="menu.toggle($event)">
            <span class="pi pi-cog"></span>
          </button>
          <p-menu #menu id="config_menu" [popup]="true"></p-menu>
        </ng-template>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat
          cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

          <div class="d-flex worksheet-line">
            <div class="control-input-text-worksheet">
                <button type="submit" 
                      class="btn btn-primary button-action-pur-control-worksheet">
                Сохранить
              </button>
            </div>
        </div>
      </p-panel>
    </div>

    <div class="worksheet-panel space-top">
        <p-panel header="Цели на платформе" [toggleable]="true">
          <ng-template pTemplate="icons">
            <button pButton class="p-panel-header-icon p-link" (click)="menu.toggle($event)">
              <span class="pi pi-cog"></span>
            </button>
            <p-menu #menu id="config_menu" [popup]="true"></p-menu>
          </ng-template>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <div class="d-flex worksheet-line">
                <div class="control-input-text-worksheet">
                    <button type="submit" 
                          class="btn btn-primary button-action-pur-control-worksheet">
                    Сохранить
                  </button>
                </div>
            </div>
        </p-panel>
      </div>
  </div>
</div>