<div class="tarifs">
  <div class="tarifs-body" *ngFor="let fr of fareRules$.value">
    <!--    <p-card header="{{fr.name}}" >-->
    <p-card>

      <div class="header">
        <h3 class="title">
          {{fr.name}}
        </h3>

        <h4 class="price">
          {{fr.price}} ₽
        </h4>

        <h6 class="label">
          {{fr.label}}
        </h6>
      </div>


      <div class="tarifs__footer">
        <strong style="text-align: center">Что входит в тариф:</strong>
        <ul *ngFor="let item of fr.fareRuleItems" class="discription">
          <li>{{item.name}} {{item.label}}</li>
        </ul>
      </div>

      <button type="submit"
              class="btn btn-primary button-action-pur-control"
              (click)="onCreateOrderAsync(fr.ruleId)">
        Выбрать
      </button>

    </p-card>

  </div>
</div>


