<p-toast></p-toast>

<div class="d-flex">
  <div class="col-lg-3">

  </div>

  <div class="col-lg-8">
    <div class="d-flex align-items-center mt-3">
      <span class="projects-count">Все проекты ({{rowsCount}})</span>
      <div class="filtres-wrapper">
        <div>
          <p-multiSelect [options]="vacancyOptions"
                      [(ngModel)]="isAnyVacancies"
                      placeholder="Вакансии"
                      [showHeader]="false"
                      styleClass="vacancy-filter"
                      (onChange)="onGetCatalogProjectsAsync($event)"
                      selectedItemsLabel="Всего выбрано: {0}"
                      [maxSelectedLabels]="1">
            </p-multiSelect>
        </div>
        <div>
          <p-multiSelect
            [options]="dateOptions"
            [(ngModel)]="selectedDate"
            placeholder="Сортировка"
            [showHeader]="false"
            styleClass="date-filter"
            (onChange)="onGetCatalogProjectsAsync($event)"
            selectedItemsLabel="Всего выбрано: {0}"
            [maxSelectedLabels]="1"
          >
          </p-multiSelect>
        </div>
        <div>
          <p-multiSelect
            [options]="stageOptions"
            [(ngModel)]="selectedStage"
            [showHeader]="false"
            placeholder="Стадия"
            styleClass="stage-filter"
            (onChange)="onGetCatalogProjectsAsync($event)"
            selectedItemsLabel="Всего выбрано: {0}"
            [maxSelectedLabels]="1"
          >
          </p-multiSelect>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mt-3" *ngFor="let project of aProjectsCatalog">
        <div class="project-card">
          <div class="project-text-block d-flex flex-column justify-content-between gap-2">
            <h3 class="project-title" (click)="onRouteSelectedProject(project.projectId)">{{ project.projectName }}</h3>
            <div class="d-flex align-items-center gap-2">
              <small class="project-date">Создан {{ project.displayDateCreated }}</small>
              <div class="tag" *ngIf="project.tagColor !== null && project.tagValue !== null">
                <p-tag [severity]="project.tagColor" value="{{project.tagValue}}"></p-tag>
              </div>
            </div>
            <p class="project-description">{{ project.projectDetails }}</p>
          </div>
          <div class="mt-3 d-flex justify-content-between align-items-center">
            <div class="control-btns d-flex gap-2">
              <button class="btn question-btn">Задать вопрос</button>
              <button class="btn respond-btn">Откликнуться</button>
            </div>
            <button class="like-btn"></button>
          </div>
        </div>
      </div>
    </div>

    <!-- Пагинация. -->
    <div>
      <p-paginator [rows]="20"
                  [totalRecords]="rowsCount"
                  (onPageChange)="onGetCatalogProjectsAsync($event)"
                  *ngIf="rowsCount > 0">
      </p-paginator>
    </div>
  </div>
</div>
