@use "/src/app/common/styles/control.scss";

 .header {
   padding: 10px;
   align-items: center;
   position: absolute;
   z-index: 2;
   top: 0;
 }

 .menu-item {
   padding: 0 10px;
   position: relative;
   z-index: 1;
   cursor: pointer;
 }

 .navbar-brand {
  //  margin-right: 100px;
 }

 .logo {
  width: 150px;
 }

 .invisible {
   display: none;
 }
 .avatar-client{
   cursor: grab;
 }

.navbar-light {
  background: #FAFAFA;
}

// Медиа-запросы.
// Малые девайсы («ландшафтные телефоны», >= 576px)
@media (min-width: 576px) {}

// Средние девайсы («таблетки», >= 768px)
@media (min-width: 768px) {
  .button-action-auth-control {
    font-size: 14px;
  }
}

// Большие девайсы (десктопы, >= 992px)
@media (min-width: 992px) {}

// Экстрабольшие девайсы (большие десктопы, >= 1200px)
@media (min-width: 1200px) {}