@use "/src/app/common/styles/control.scss";

.navbar {
  max-width: 1170px;
  margin: 0 auto;
  height: 100px;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
}

.menu {
  gap: 50px;
}

.header {
  padding: 10px;
  align-items: center;
  position: absolute;
  z-index: 2;
  top: 0;
}

.menu-item {
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.navbar-brand {
  width: 117px;
  margin-right: auto;
}

.logo {
  width: 105px;
}

.logo-social {
  width: 30px;
}

.block-social {
  cursor: pointer;
}

.invisible {
  display: none;
}

.avatar-client{
  cursor: grab;
}

.navbar-light {
  background: white;
}

.user-avatar {
  width: 117px;
  cursor: pointer;
  margin-left: auto;
}

.sign {
  width: 117px;
  margin-left: auto;
}

.sign-button {
  padding: 14px 32px;
  background-color: transparent;
  border: 1px solid #1A73E8;
  border-radius: 8px;
  color: #1A73E8;
  font-weight: 500;
}

// Медиа-запросы.
@media (max-width: 575px) {}

/* sm (>=576 и <=767) */
@media (min-width: 576px) and (max-width: 767px) {}

/* md (>=768 и <=991) */
@media (min-width: 768px) and (max-width: 991px) {
  .button-action-auth-control {
    font-size: 14px;
  }
}

/* lg (>=992 и <=1199) */
@media (min-width: 992px) and (max-width: 1199px) {}

/* xl (>=1200) */
@media (min-width: 1200px) {
 
}