<nav class="navbar navbar-light bg-light justify-content-around">
    <a class="navbar-brand" routerLink="">
      <img class="logo" alt="" src="../../../../assets/images/logo/logo.png">
    </a>
    <div class="form-inline">

      <div class="header-buttons d-flex">
        <div *ngFor="let item of headerData$.value">
            <div class="menu-item" (click)="onSelectHeaderItem(item)">{{item.menuItemTitle}}</div>
        </div>
      </div>
    </div>

    <div class="form-inline header-buttons d-flex">

      <div class="d-flex">
        <div class="menu-item">
          <button class="btn btn-primary btn-header button-action-auth-control"
          *ngIf="!isHideAuthButtons"
          (click)="onRouteSignIn()">Вход</button>
        </div>

        <div class="menu-item">
          <button class="btn btn-primary btn-header button-action-auth-control"
          *ngIf="!isHideAuthButtons"
          (click)="onRouteSignUp()">Регистрация</button>
        </div>
      </div>
    </div>

   <div [ngClass]="{invisible: !isHideAuthButtons}">
    <p-avatar label="P" class="avatar-client"
              shape="circle"
              (click)="menu.toggle($event)">
    </p-avatar>

    <p-menu #menu [popup]="true" [model]="items"></p-menu>
   </div>
  </nav>
