<nav class="navbar justify-content-center">
  <a class="navbar-logo" routerLink="">
    <img src="../../../../assets/images/logo/logo.svg">
  </a>
  
  <div class="d-flex flex-row menu">
    <div *ngFor="let item of headerData$.value">
      <div class="menu-item" (click)="onSelectHeaderItem(item)">{{item.menuItemTitle}}</div>
    </div>
  </div>

  <button class="sign-button"
          *ngIf="!isHideAuthButtons"
          (click)="onRouteSignIn()"> 
            Войти
  </button>


   <div class="user-avatar" [ngClass]="{invisible: !isHideAuthButtons}">
    <p-avatar label="P"
              shape="circle"
              (click)="menu.toggle($event)">
    </p-avatar>

    <p-menu #menu [popup]="true" [model]="items"></p-menu>
   </div> 
  </nav>
