.profile-left-menu {
    margin-left: 50px;
    width: 300px;
}

::ng-deep .profile-left-menu .p-panelmenu .p-panelmenu-header-link:focus {
  box-shadow: none;
}

.block-profile {
    position: absolute;
}

// Медиа-запросы.
/* sm (>=576 и <=767) */
@media (width >= 576px) and (width <= 767px) {
  .profile-left-menu {
    margin-left: 10px;
    width: 170px;
  }
}

/* md (>=768 и <=991) */
@media (width >= 768px) and (width <= 991px) {
  .profile-left-menu {
    margin-left: 10px;
    width: 170px;
  }
}

/* lg (>=992 и <=1199) */
@media (width >= 992px) and (width <= 1199px) {
  .profile-left-menu {
    margin-left: 10px;
    width: 170px;
  }
}

/* xl (>=1200) */
@media (width >= 1200px) {
  .profile-left-menu {
    margin-left: 10px;
  }
}
