@use "/src/app/common/styles/spaces.scss";
@use "/src/app/common/styles/styles.scss";

.profile-left-menu {
    margin-left: 50px;    
    width: 300px;
}

::ng-deep .profile-left-menu .p-panelmenu .p-panelmenu-header-link:focus {
  box-shadow: none;
}

.block-profile {    
    position: absolute;
}

// Медиа-запросы.
/* xs (<=543px) */
@media (max-width: 575px) {
  
}

/* sm (>=576 и <=767) */
@media (min-width: 576px) and (max-width: 767px) {
  .profile-left-menu {
    margin-left: 10px;
    width: 170px;
  }
}

/* md (>=768 и <=991) */
@media (min-width: 768px) and (max-width: 991px) {
  .profile-left-menu {
    margin-left: 10px;
    width: 170px;
  }
}

/* lg (>=992 и <=1199) */
@media (min-width: 992px) and (max-width: 1199px) {}

/* xl (>=1200) */
@media (min-width: 1200px) {
  .block-worksheet {
    margin-left: 50px;
  }
}