@use "/src/app/common/styles/font.scss";
@use "/src/app/common/styles/color.scss";
@use "/src/app/common/styles/spaces.scss";
@use "/src/app/common/styles/styles.scss";
@use "/src/app/common/styles/control.scss";

.profile-left-menu {
  width: 240px;
  z-index: 1000;
}

:host ::ng-deep .profile-left-menu .p-panelmenu {
  @include font.Paragraph1();
  display: grid;
  grid-gap: 4px;

  .p-panelmenu-header-action:hover,
  .p-menuitem-content:hover {
    background: color.$menu-hover-grey;
    border-radius: 8px;
  }

  .p-menuitem-text {
    color: color.$landing-text-dark-grey;
  }

  .p-highlight .p-menuitem-text {
    color: color.$blue-color-primary-blue-300;
  }

  .p-panelmenu-content {
    border: none;
    padding: 4px 0 0;
  }

  .p-submenu-list {
    display: grid;
    grid-gap: 4px;
  }

  .p-panelmenu-header .p-panelmenu-header-content {
    @include font.Paragraph1();
    height: 40px;
    background: white;
    border: none;

    .p-panelmenu-header-action {
      font-weight: normal;
      padding-top: 12px;
      padding-bottom: 9px;
      position: relative;

      .p-icon-wrapper {
        position: absolute;
        right: 1px;
        color: color.$color-icon;

        .p-submenu-icon {
          width: 12px;
          height: 12px;
        }
      }
    }
  }

  .p-panelmenu-header-link:focus {
    box-shadow: none;
  }
}

.block-profile {
    position: absolute;
}

// Медиа-запросы.
/* xs (<=543px) */
@media (max-width: 575px) {

}

/* sm (>=576 и <=767) */
@media (min-width: 576px) and (max-width: 767px) {
  .profile-left-menu {
    margin-left: 10px;
    width: 170px;
  }
}

/* md (>=768 и <=991) */
@media (min-width: 768px) and (max-width: 991px) {
  .profile-left-menu {
    margin-left: 10px;
    width: 170px;
  }
}

/* lg (>=992 и <=1199) */
@media (min-width: 992px) and (max-width: 1199px) {
  .profile-left-menu {
    margin-left: 10px;
    width: 170px;
  }
}

/* xl (>=1200) */
@media (min-width: 1200px) {
  .profile-left-menu {
    margin-left: 10px;
    // width: 170px;
  }
}
