<p-toast></p-toast>

<div class="d-flex block-profile space-top-50">
  <div class="profile-left-menu col-lg-3">

  </div>

  <div class="block-worksheet">
    <div class="worksheet-panel">
      <p-panel header="Заполнение информации о проекте" [toggleable]="true">
        <ng-template pTemplate="icons">
          <button pButton class="p-panel-header-icon p-link" (click)="menu.toggle($event)">
            <span class="pi pi-cog"></span>
          </button>
          <p-menu #menu id="config_menu" [popup]="true"></p-menu>
        </ng-template>

        <div class="d-flex">
          <div class="control-input-text-worksheet">
            <div>
                <label>Название проекта</label>
            </div>
            <div>
                <input type="text" 
                        class="p-inputtext-sm input-control-worksheet control-project" 
                        placeholder="Название проекта" 
                        pInputText
                        autocomplete="new-password" 
                        [(ngModel)]="selectedProject$.value.projectName" 
                        [disabled]="!isEditMode"/>    
            </div>          
          </div>         
        </div>

        <div class="d-flex mt-3">
            <div class="control-input-text-worksheet">
                <div class="control-input-text-worksheet">
                    <div class="d-flex worksheet-line">
                        <div class="control-input-text-worksheet">
                            <div>
                                <label>Описание проекта</label>
                            </div>
                            <div>
                              <p-editor autocomplete="new-password" 
                                        [(ngModel)]="selectedProject$.value.projectDetails"
                                        [style]="{'height':'320px'}"
                                        [readonly]="!isEditMode">
                              </p-editor>
                            </div>
                        </div>                         
                    </div>
                  </div>
              </div>
        </div>

        <div class="d-flex mt-3">
          <div class="control-input-text-worksheet">
            <div>
                <label>Стадия проекта</label>
            </div>
            <div>
              <p-dropdown [options]="this.projectStages$.value" 
                          [(ngModel)]="selectedStage" 
                          optionLabel="stageName"
                          (onChange)="onSelectProjectStage()"
                          [disabled]="!isEditMode">
              </p-dropdown>
            </div>          
          </div>         
        </div>
      </p-panel>
    </div>

    <div class="d-flex worksheet-line mt-3">
      <div class="control-input-text-worksheet">
        <button type="button" class="btn btn-primary button-action-pur-control-worksheet"
          (click)="onUpdateProjectAsync()"
          *ngIf="isEdit">
          Сохранить
        </button>
      </div>
    </div>

    <div class="worksheet-panel">
      <p-panel header="Вакансии проекта" [toggleable]="true">
        <ng-template pTemplate="icons">
          <button pButton class="p-panel-header-icon p-link" (click)="menu.toggle($event)">
            <span class="pi pi-cog"></span>
          </button>
          <p-menu #menu id="config_menu" [popup]="true"></p-menu>
        </ng-template>

        <div>
          <p-table [value]="projectVacancies$.value.projectVacancies" 
                  [(selection)]="selectedProjectVacancy" 
                  dataKey="userVacancy.vacancyId" 
                  [paginator]="true" 
                  [rows]="10"             
                  styleClass="p-datatable-gridlines" 
                  responsiveLayout="scroll">
            <ng-template pTemplate="caption">
             <div class="d-flex">
               <div>
                 <button pButton type="button" 
                 label="Добавить" 
                 class="p-button-outlined"
                 (click)="onRouteCreateProjectVacancy()">
                 </button>
               </div>
               &nbsp;&nbsp;&nbsp;
               <div>
                 <button pButton type="button" 
                 label="Привязать" 
                 class="p-button-outlined p-button-secondary"
                 (click)="onShowAttachModel()">
                 </button>
               </div>
             </div>
            </ng-template>
      
            <ng-template pTemplate="header">
                <tr>
                  <th style="width: 4rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                  </th>
                    <th *ngFor="let item of projectVacanciesColumns$.value">
                      {{item.columnName}}</th>    
                    <th>Просмотр</th>        
                    <th>Редактирование</th>    
                    <th>Удаление</th>    
                </tr>
            </ng-template>
      
            <ng-template pTemplate="body" let-vacancy>
                <tr>
                  <td>
                    <p-tableCheckbox [value]="vacancy"></p-tableCheckbox>
                  </td>
                  <td>{{vacancy.vacancyId}}</td>
                  <td>{{vacancy.userVacancy.vacancyName}}</td>
                  <td>{{vacancy.userVacancy.vacancyText}}</td>
                  <!-- <td>{{vacancy.projectStatusName}}</td>              -->
                  <td>Надо вывести</td>
                  <td><button pButton type="button" 
                    label="Просмотр" 
                    class="p-button-text">
                      </button>
                  </td>
                  <td><button pButton type="button" 
                              label="Редактировать" 
                              class="p-button-secondary p-button-text">
                      </button>
                  </td>
                  <td><button pButton type="button" label="Удалить" class="p-button-danger p-button-text"></button></td>
                </tr>
            </ng-template>
      
            <ng-template pTemplate="summary">
                Всего: {{totalVacancies}}
            </ng-template>
        </p-table>
        </div>
      </p-panel>
    </div>
  </div>
</div>

<p-dialog header="Привязка вакансии к проекту" 
          [(visible)]="isAttach" 
          [modal]="true" 
          [style]="{width: '50vw', height: '50vw'}"
          [maximizable]="false" 
          [draggable]="false" 
          [resizable]="false">
 
  <div class="d-flex mt-3">
    <div class="control-input-text-worksheet">
      <div>
          <label>Выберите вакансию для привязки</label>
      </div>
      <div>
        <p-dropdown [options]="this.availableAttachVacancies$.value.projectVacancies" 
                    [(ngModel)]="selectedVacancy" 
                    optionLabel="userVacancy.vacancyName"
                    (onChange)="onSelectVacancy()">
        </p-dropdown>
      </div>          
    </div>         
  </div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="onSaveProjectVacancyAsync()" label="Привязать вакансию" styleClass="p-button-text">
    </p-button>
  </ng-template>
</p-dialog>