<p-toast></p-toast>

<div class="d-flex block-profile space-top-50">
  <div class="profile-left-menu col-lg-3">

  </div>

  <div class="block-worksheet">
    <div class="worksheet-panel">
      <p-panel header="Заполнение информации о проекте" [toggleable]="true">
        <ng-template pTemplate="icons">
          <button pButton class="p-panel-header-icon p-link" (click)="menu.toggle($event)">
            <span class="pi pi-cog"></span>
          </button>
          <p-menu #menu id="config_menu" [popup]="true"></p-menu>
        </ng-template>

        <div class="d-flex">
          <div class="control-input-text-worksheet">
            <div>
                <label>Название проекта</label>
            </div>
            <div>
                <input type="text" 
                        class="p-inputtext-sm input-control-worksheet control-project" 
                        placeholder="Название проекта" 
                        pInputText
                        autocomplete="new-password" 
                        [(ngModel)]="selectedProject$.value.projectName" 
                        [disabled]="!isEditMode"/>    
            </div>          
          </div>         
        </div>

        <div class="d-flex mt-3">
            <div class="control-input-text-worksheet">
                <div class="control-input-text-worksheet">
                    <div class="d-flex worksheet-line">
                        <div class="control-input-text-worksheet">
                            <div>
                                <label>Описание проекта</label>
                            </div>
                            <div>
                              <p-editor autocomplete="new-password" 
                                        [(ngModel)]="selectedProject$.value.projectDetails"
                                        [style]="{'height':'320px'}"
                                        [readonly]="!isEditMode">
                              </p-editor>
                            </div>
                        </div>                         
                    </div>
                  </div>
              </div>
        </div>

        <div class="d-flex mt-3">
          <div class="control-input-text-worksheet">
            <div>
                <label>Стадия проекта</label>
            </div>
            <div>
              <p-dropdown [options]="this.projectStages$.value" 
                          [(ngModel)]="selectedStage" 
                          optionLabel="stageName"
                          (onChange)="onSelectProjectStage()"
                          [disabled]="!isEditMode">
              </p-dropdown>
            </div>          
          </div>         
        </div>
      </p-panel>
    </div>

    <div class="d-flex worksheet-line mt-3">
      <div class="control-input-text-worksheet">
        <button type="button" class="btn btn-primary button-action-pur-control-worksheet"
          (click)="onUpdateProjectAsync()"
          *ngIf="isEdit">
          Сохранить
        </button>
      </div>
    </div>

    <div class="worksheet-panel space-top-50 d-flex">
      <p-panel header="Вакансии проекта" [toggleable]="true">
        <ng-template pTemplate="icons">
          <button pButton class="p-panel-header-icon p-link" (click)="menu.toggle($event)">
            <span class="pi pi-cog"></span>
          </button>
          <p-menu #menu id="config_menu" [popup]="true"></p-menu>
        </ng-template>

        <div>
          <p-table [value]="projectVacancies$.value.projectVacancies" 
                  [(selection)]="selectedProjectVacancy" 
                  dataKey="userVacancy.vacancyId" 
                  [paginator]="true" 
                  [rows]="10"             
                  styleClass="p-datatable-gridlines" 
                  responsiveLayout="scroll">
            <ng-template pTemplate="caption">
             <div class="d-flex">
               <div>
                 <button pButton type="button" 
                 label="Добавить" 
                 class="p-button-outlined"
                 (click)="onRouteCreateProjectVacancy()">
                 </button>
               </div>
               &nbsp;&nbsp;&nbsp;
               <div>
                 <button pButton type="button" 
                 label="Привязать" 
                 class="p-button-outlined p-button-secondary"
                 (click)="onShowAttachModel()">
                 </button>
               </div>
             </div>
            </ng-template>
      
            <ng-template pTemplate="header">
                <tr>
                  <th style="width: 4rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                  </th>
                    <th *ngFor="let item of projectVacanciesColumns$.value">
                      {{item.columnName}}</th>    
                    <th>Просмотр</th>        
                    <th>Редактирование</th>    
                    <th>Удаление</th>    
                </tr>
            </ng-template>
      
            <ng-template pTemplate="body" let-vacancy>
                <tr>
                  <td>
                    <p-tableCheckbox [value]="vacancy"></p-tableCheckbox>
                  </td>
                  <td>{{vacancy.vacancyId}}</td>
                  <td>{{vacancy.userVacancy.vacancyName}}</td>
                  <td>{{vacancy.userVacancy.vacancyText}}</td>
                  <!-- <td>{{vacancy.projectStatusName}}</td>              -->
                  <td>Надо вывести</td>
                  <td><button pButton type="button" 
                              label="Просмотр" 
                              class="p-button-text"
                              (click)="onShowVacancyModal(vacancy.vacancyId, false)">
                      </button>
                  </td>
                  <td><button pButton type="button" 
                              label="Редактировать" 
                              class="p-button-secondary p-button-text"
                              (click)="onShowVacancyModal(vacancy.vacancyId, true)">
                      </button>
                  </td>
                  <td><button pButton type="button" label="Удалить" class="p-button-danger p-button-text"></button></td>
                </tr>
            </ng-template>
      
            <ng-template pTemplate="summary">
                Всего: {{totalVacancies}}
            </ng-template>
        </p-table>
        </div>
      </p-panel>
    </div>

    <div class="worksheet-panel space-top-50 space-bottom-50 d-flex" *ngIf="!isEditMode">
      <p-panel header="Действия" [toggleable]="true">
        <ng-template pTemplate="icons">
          <button pButton class="p-panel-header-icon p-link" (click)="menu.toggle($event)">
            <span class="pi pi-cog"></span>
          </button>
          <p-menu #menu id="config_menu" [popup]="true"></p-menu>
        </ng-template>

        <div class="d-flex">
          <div class="control-input-text-worksheet">
            <div class="mb-3">
              <div>
                <div>
                  <button pButton 
                          type="button" 
                          label="Откликнуться на проект (без указания вакансии)"
                          class="p-button-outlined p-button-secondary p-button-text"
                          (click)="onShowProjectResponseNotVacancyModal(true)">
                  </button>
                </div>

                <div>
                  <button pButton 
                          type="button" 
                          label="Откликнуться на проект (с указанием вакансии)"
                          class="p-button-outlined p-button-secondary p-button-text"
                          (click)="onShowProjectResponseWithVacancyModal(true)">
                  </button>
                </div>

                <div>
                  <button pButton type="button" label="Написать владельцу"
                    class="p-button-outlined p-button-secondary p-button-text">
                  </button>
                </div>
              </div>
            </div>                    
          </div>         
        </div>
      </p-panel>
    </div>
  </div>
</div>

<!-- Диалог привязки вакансии к проекту. -->
<p-dialog header="Привязка вакансии к проекту" 
          [(visible)]="isShowAttachVacancyModal" 
          [modal]="true" 
          [style]="{width: '50vw', height: '50vw'}"
          [maximizable]="false" 
          [draggable]="false" 
          [resizable]="false">
 
  <div class="d-flex mt-3">
    <div class="control-input-text-worksheet">
      <div>
          <label>Выберите вакансию для привязки</label>
      </div>
      <div>
        <p-dropdown [options]="this.availableAttachVacancies$.value.projectVacancies" 
                    [(ngModel)]="selectedVacancy" 
                    optionLabel="userVacancy.vacancyName"
                    (onChange)="onSelectVacancy()">
        </p-dropdown>
      </div>          
    </div>         
  </div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="onSaveProjectVacancyAsync()" label="Привязать вакансию" styleClass="p-button-text">
    </p-button>
  </ng-template>
</p-dialog>

<!-- Диалог вакансии. -->
<p-dialog header="Просмотр вакансии" 
          [(visible)]="isShowVacancyModal" 
          [modal]="true" 
          [style]="{width: '50vw', height: '50vw'}"
          [maximizable]="false" 
          [draggable]="false" 
          [resizable]="false">
 
  <div class="d-flex mt-3">
    <div class="control-input-text-worksheet">
      <div class="d-flex">
        <div class="control-input-text-worksheet">
          <div>
              <label>Название вакансии</label>
          </div>
          <div>
              <input type="text" 
              class="p-inputtext-sm input-control-worksheet control-project" 
              placeholder="Название вакансии" 
              pInputText
              autocomplete="new-password" 
              [(ngModel)]="vacancyName"
              [disabled]="!isEditMode" />    
          </div>          
        </div>         
      </div>

      <div class="d-flex">
        <div class="control-input-text-worksheet mt-3">
          <div>
            <label>Опыт</label>
          </div>
          <div>
            <input type="text" 
                    class="p-inputtext-sm input-control-worksheet control-vacancy" 
                    placeholder="1–3 года"
                    pInputText 
                    autocomplete="new-password" 
                    [(ngModel)]="workExperience"
                    [disabled]="!isEditMode" />
          </div>
        </div>

        <div class="control-input-text-worksheet mt-3">
          <div>
            <label>Занятость</label>
          </div>
          <div>
            <input type="text" 
                    class="p-inputtext-sm input-control-worksheet control-vacancy" 
                    placeholder="Полная занятость, удаленная работа"
                    pInputText 
                    autocomplete="new-password" 
                    [(ngModel)]="employment"
                    [disabled]="!isEditMode" />
          </div>
        </div>

        <div class="control-input-text-worksheet mt-3">
          <div>
            <label>Оплата</label>
          </div>
          <div>
            <input type="text" 
                    class="p-inputtext-sm input-control-worksheet control-vacancy"
                    placeholder="20 000 – 40 000 руб." 
                    pInputText 
                    autocomplete="new-password"
                    [(ngModel)]="payment"
                    [disabled]="!isEditMode" />
          </div>
        </div>
      </div>

      <div class="d-flex mt-3">
          <div class="control-input-text-worksheet">
              <div class="control-input-text-worksheet">
                  <div class="d-flex worksheet-line">
                      <div class="control-input-text-worksheet">
                          <div>
                              <label>Описание вакансии</label>
                          </div>
                          <div>
                              <p-editor autocomplete="new-password" 
                              [(ngModel)]="vacancyText" 
                              [style]="{'height':'320px'}"
                              [readonly]="!isEditMode"></p-editor>
                          </div>
                      </div>                         
                  </div>
                </div>
            </div>
      </div>
    </div>         
  </div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" 
              (click)="onUpdateVacancyAsync()" 
              label="Сохранить" 
              styleClass="p-button-text"
              *ngIf="isEditMode">
    </p-button>
  </ng-template>
</p-dialog>

 <!-- Диалог выбора способа отклика на проект (с вакансией либо без ее указания). -->
 <p-dialog header="Отклик на проект с указанием вакансии" 
          [(visible)]="isResponseVacancy" 
          [modal]="true" 
          [style]="{width: '50vw', height: '50vw'}"
          [maximizable]="false" 
          [draggable]="false" 
          [resizable]="false">
 
  <div class="d-flex mt-3">
    <div class="control-input-text-worksheet">
      <div>
          <label>Выберите вакансию</label>
      </div>
      <div>
        <p-dropdown [options]="this.availableAttachVacancies$.value.projectVacancies" 
                    [(ngModel)]="selectedVacancy" 
                    optionLabel="userVacancy.vacancyName"
                    (onChange)="onSelectVacancy()">
        </p-dropdown>
      </div>          
    </div>         
  </div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" 
              (click)="onProjectResponseAsync()" 
              label="Откликнуться на проект" 
              styleClass="p-button-text">
    </p-button>
  </ng-template>
</p-dialog>

<!-- Диалог отклика без вакансии. -->
<p-dialog header="Отклик на проект без указания вакансии" 
          [(visible)]="isResponseNotVacancy" 
          [breakpoints]="{'960px': '75vw'}" 
          [style]="{width: '50vw'}"
          [draggable]="false" 
          [resizable]="false">
        <p>Откликнуться без вакансии?</p>
        <ng-template pTemplate="footer">
        <p-button (click)="isResponseNotVacancy=false" label="Нет" styleClass="p-button-text"></p-button>
        <p-button (click)="onProjectResponseAsync()" label="Да" styleClass="p-button-text"></p-button>
        </ng-template>
</p-dialog>