.footer {
    width: 100%;
    background: #FAF9FC;
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    .footer-item {
      font-family: Montserrat-Regular;
      font-size: 14px;
      line-height: 20px;
      margin: 15px 0;
      cursor: pointer;
    }

    .block-footers {
      display: flex;
      justify-content: space-around;

      .block-footer {
        margin-top: 50px;
      }
    }

    .block-logo {
      text-align: start;
      padding: 40px 40px 0 112px;
    }

    .title {
      margin: 0 10px;
      font-family: Stolzl;
      font-style: normal;
      font-weight: 900;
      font-size: 20px;
      line-height: 24px;
    }

    .sub-title {
      margin: 0 10px;
      font-family: Montserrat-Regular;
      font-weight: 400;
      font-size: 10px;
      line-height: 10px;
      display: flex;
      align-items: center;
      letter-spacing: 1pt;
    }

    .text-date {
      padding: 40px 0 0 112px;
      background: #FAF9FC;
      font-family: 'SF Pro Display', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.4px;
      padding-bottom: 32px;
    }
  }

.social-links-list {
  display: flex;
  gap: 12px;
  padding: 0;
  margin: 0;
  list-style: none;

  .social-link {
    display: flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;
  }
}
