@use "/src/app/common/styles/color.scss";
@use "/src/app/common/styles/font.scss";
@use "/src/app/common/styles/styles.scss";

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background: color.$footer-bg-light-grey;
}

.footer-wrapper {
  display: block;
  width: 1200px;
}

.footer-top {
  display: flex;
  gap: 100px;
  padding: 40px 0 0;
}

.footer-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer-menu-section-header {
  @include font.Regular_20_120();
  color: color.$landing-text-dark-grey;
  margin-bottom: 29px;
}

.footer-menu-list,
.footer-social-list {
  display: flex;
  list-style: none;
  padding: 0;
}

.footer-menu-list {
  flex-direction: column;
  gap: 13px;
}

.footer-social-list {
  gap: 16px;
}

.footer-menu-item {
  @include font.Regular_16_140();
  color: color.$landing-text-dark-grey;
  text-decoration: none;
  cursor: pointer;
}

.footer-bottom {
  display: grid;
  justify-content: center;
  padding: 48px 0 24px;
  grid-gap: 16px;
}

.footer-paysys {
  display: flex;
  justify-content: center;
}

.footer-copyright {
  @include font.Regular_12_135();
  color: color.$project-text-bluish-grey;
}
