<div class="footer mt-5">
    <div class="d-flex align-items-center block-logo" [routerLink]="['/']">
      <div>
        <a class="navbar-brand" routerLink="">
            <img class="logo" src="../../../../assets/images/logo/logo.png">
          </a>
      </div>
    </div>
  
    <div class="block-footers">
      <!-- 1 ряд. -->
      <div class="block-footer">
        <div>
          <div class="footer-item">
            Вакансии
          </div>

          <div class="footer-item">
            Проекты
          </div>

          <div class="footer-item">
            База резюме
          </div>
        </div>
      </div>
  
      <!-- 2 ряд. -->
      <div class="block-footer">
        <div>
          <div class="footer-item">
            Служба поддержки
          </div>
        </div>
      </div>
  
      <!-- 3 ряд. -->
      <div class="block-footer">
        <div>
            <div class="footer-item">
                Частые вопросы
              </div>
    
              <div class="footer-item">
                Контакты
              </div>
        </div>
      </div>
  
      <!-- 4 ряд. -->
      <div class="block-footer">
        <div>
          <div class="footer-item">
            &nbsp;
          </div>
        </div>
      </div>
    </div>
  
    <div class="text-date">
      © {{dateLine}} Leoka Estetica. Все права защищены.
    </div>
  </div>