<p-toast></p-toast>

<div class="block-actions d-flex" *ngIf="isShowAvailableActions">
 <div class="d-flex actions-line">
   <div>
     <button pButton
             pRipple
             icon="pi pi-play"
             type="button"
             label="Начать спринт"
             class="p-button-success p-button-text p-button-sm">
     </button>
   </div>

   <div>
     <button pButton
             pRipple
             icon="pi pi-stop"
             type="button"
             label="Остановить спринт"
             class="p-button-secondary p-button-text p-button-sm">
     </button>
   </div>
 </div>
</div>

<div class="d-flex block-profile space-top-50">
<!--  <div class="profile-left-menu col-lg-3 col-xl-3 col-xxl-3">-->

<!--  </div>-->

  <div class="worksheet-panel block-worksheet profile-table">
    <p-table [value]="sprints$.value"
             [(selection)]="selectedSprint"
             selectionMode="single"
             [paginator]="sprints$.value.length > 0"
             [rows]="10"
             styleClass="p-datatable-gridlines"
             responsiveLayout="scroll">
      <ng-template pTemplate="caption">
        <h3>Спринты проекта</h3>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th></th>
          <th>ID</th>
          <th>Название</th>
          <th>Дата начала</th>
          <th>Дата окончания</th>
          <th>Статус</th>
          <th></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-sp>
        <tr>
          <td>
            <p-tableCheckbox [value]="sp" (click)="isShowAvailableActions = !isShowAvailableActions"></p-tableCheckbox>
          </td>
          <td class="">
            <div class="btn btn-link" (click)="onSelectSprint($event, sp.projectSprintId)">
              {{sp.projectSprintId}}
            </div>
          </td>
          <td class="">
            <div class="btn btn-link" (click)="onSelectSprint($event, sp.projectSprintId)">
              {{sp.sprintName}}
            </div>
          </td>
          <td class="">{{sp.dateStart ?? 'Не задана'}}</td>
          <td class="">{{sp.dateEnd ?? 'Не задана'}}</td>
          <td class="">{{sp.sprintStatusName}}</td>
        </tr>
      </ng-template>

      <ng-template pTemplate="summary">
        Всего: {{sprints$.value.length}}
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7">
            <div class="empty-projects">
              Вы не спланировали еще ни одного спринта.
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
