<p-toast></p-toast>

<div class="d-flex justify-content-center">
  <p-message severity="warn" text="{{availableText}}" *ngIf="!isAvailable">
  </p-message>
</div>

<div class="d-flex block-profile space-top-50">
  <div class="col-lg-3">

  </div>

  <div class="col-lg-6 block-catalog-vacancies" *ngIf="isAvailable">
    <div class="mb-3 block-search">
      <span class="p-fluid control-search">
        <p-autoComplete [(ngModel)]="searchText"
                        [suggestions]="aResumesCatalog"
                        [showEmptyMessage]="true"
                        emptyMessage="Результатов не найдено"
                        field="vacancyName"
                        [minLength]="1"
                        (completeMethod)="onSearchResumesAsync($event)"
                        (onClear)="onLoadCatalogResumesAsync()"
                        placeholder="Поиск по базе резюме...">
        </p-autoComplete>
    <p class="resume-count">Найдено резюме: {{this.catalogResumes$.value.total}}</p>
      </span>
    </div>

    <div class="catalog-vacancies-item" *ngFor="let item of aResumesCatalog">
        <!-- <div class="d-flex">
            <div>{{item.payment}}</div>
            <div class="tag">{{item.workExperience}}</div>
            <div class="tag">{{item.employment}}</div>
        </div> -->
        <div [ngClass]="{selectedColor: item.isSelectedColor}">
          <div class="project-text-item">
            <h3 (click)="onRouteSelectedResume(item.profileInfoId, item.userCode)">
              {{item.lastName}} {{item.firstName}} {{item.patronymic ?? ''}}
            </h3>
            <div>{{item.aboutme}}</div>
          </div>
        </div>
    </div>

     <!-- Пагинация. -->
     <div>
      <p-paginator [rows]="20"
                  [totalRecords]="rowsCount"
                  (onPageChange)="onGetResumesPaginationAsync($event)"
                  *ngIf="rowsCount > 0">
      </p-paginator>
    </div>
  </div>

  <!-- <div class="col-lg-2"></div> -->

  <!-- TODO: Пока решили не делать, подробности в задаче по фильтрам. -->
  <!-- <div class="col-lg-3 block-catalog-filters">
    <h3>Фильтры</h3>
  </div> -->
</div>
