<div class="d-flex">
  <div class="col-lg-2">

  </div>

  <div class="col-lg-10">
    <p-splitter
      [style]="{ height: '600px' }"
      [minSizes]="[10, 0]"
      styleClass="mb-5">
      <ng-template pTemplate>
        <p-splitter layout="vertical" [panelSizes]="[15, 85]">
          <ng-template pTemplate>
            <div class="abstract-scopes">
              <p-tabMenu [model]="aAbstractScopes"
                         (activeItemChange)="onSelectAbstractScopeAndGetScopeGroupObjects($event)">

              </p-tabMenu>
            </div>
          </ng-template>

          <ng-template pTemplate>
            <p-splitter [panelSizes]="[25, 100]">
              <ng-template pTemplate>
                <div class="group-objects">
                  <p-slideMenu [model]="aGroupObjects"
                               backLabel="Назад">

                  </p-slideMenu>
                </div>
              </ng-template>

              <ng-template pTemplate>
                <div class="col flex align-items-center justify-content-center">
                  Panel 4
                </div>
              </ng-template>

              <ng-template pTemplate>
                <div class="col flex align-items-center justify-content-center">
                  Panel 4
                </div>
              </ng-template>
            </p-splitter>
          </ng-template>
        </p-splitter>
      </ng-template>
    </p-splitter>
  </div>
</div>
