@use "/src/app/common/styles/spaces.scss";
@use "/src/app/common/styles/control.scss";
@use "/src/app/common/styles/styles.scss";

.block-wiki-content {
  padding-left: 50px;
  padding-right: 50px;
}

.page {
  cursor: pointer;
  //text-decoration-line: underline;
}

::ng-deep .folder-name-container .p-inplace .p-inplace-display,
::ng-deep .folder-name-container .p-inplace .p-inplace-display:active,
::ng-deep .page-name-container .p-inplace .p-inplace-display,
::ng-deep .page-name-container .p-inplace .p-inplace-display:active {
  background: none;
  box-shadow: none;
}

.tree-item-line {
  //display: flex;
  //align-items: center;
}
.input-folder-name {
  min-width: 560px;
}

.input-page-name {
  min-width: 560px;
}