@use "/src/app/common/styles/spaces.scss";
@use "/src/app/common/styles/control.scss";
@use "/src/app/common/styles/styles.scss";

.block-wiki-content {
  padding-left: 50px;
  padding-right: 50px;
}

.page {
  cursor: pointer;
  //text-decoration-line: underline;
}

.tree-item-line {
  //display: flex;
  //align-items: center;
}
.input-folder-name {
  min-width: 560px;
}

.input-page-name {
  min-width: 560px;
}