<div class="d-flex block-profile space-top-80">
  <div class="profile-left-menu col-lg-3">
    <p-tree
      class="w-full md:w-30rem"
      scrollHeight="50vh"
      [virtualScroll]="true"
      [value]="aTreeItems"
      [style]="{'min-width': '300px'}"
      selectionMode="single"
      (onNodeSelect)="onSelectTreeItemAsync($event)">

    </p-tree>
  </div>

  <!-- Контент папки. -->
  <div class="col-lg-9 block-wiki-content" *ngIf="isSelectedFolder">
    <div>
      <div class="">
        <p-inplace [style]="{'min-height':'33px'}" [active]="isActiveFolderName" (onActivate)="onActivateFolderName()">
          <ng-template pTemplate="display">
            <h1>{{folderName}}</h1>
          </ng-template>
          <ng-template pTemplate="content">
            <input class="input-folder-name" type="text" [(ngModel)]="folderName" value="{{folderName}}" pInputText >
          </ng-template>
        </p-inplace>

        <button pButton
                pRipple
                icon="pi pi-save"
                type="button"
                label="Сохранить"
                class="p-button-success p-button-text p-button-sm"
                *ngIf="isActiveFolderName"
                (click)="onSaveFolderNameAsync()">
        </button>

        <button pButton
                pRipple
                icon="pi pi-times"
                type="button"
                label="Отмена"
                class="p-button-secondary p-button-text p-button-sm"
                *ngIf="isActiveFolderName"
                (click)="isActiveFolderName=!isActiveFolderName">
        </button>
      </div>
    </div>

    <!--  Смотрим лишь 1 уровень, так как выбрали одну папку.  -->
    <div *ngFor="let page of wikiTreeFolderItems$.value[0].children">
      <div>
        <!-- TODO: Как отработает, если будут вложенные папки? Надо проверить будет. -->
        <div class="page">
          <div class="tree-item-line">
            <i [ngClass]="page.icon" style="font-size: 1rem"></i>
            &nbsp;
            {{page.label}}
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>

  <!-- Контент страницы. -->
  <div class="col-lg-9 block-wiki-content" *ngIf="isSelectedFolderPage">
    <div>
      <div>
        <!-- TODO: Как отработает, если будут вложенные папки? Надо проверить будет. -->
        <div class="page">
          <div class="tree-item-line">
            <i [ngClass]="wikiTreeFolderPage$.value.icon" style="font-size: 1rem"></i>
            &nbsp;
            <div>
              <div class="">
                <p-inplace [style]="{'min-height':'33px'}" [active]="isActiveFolderPageName" (onActivate)="onActivateFolderPageName()">
                  <ng-template pTemplate="display">
                    <h1>{{wikiTreeFolderPage$.value.label}}</h1>
                  </ng-template>
                  <ng-template pTemplate="content">
                    <input type="text" [(ngModel)]="pageName" value="{{pageName}}" pInputText>
                  </ng-template>
                </p-inplace>

                <button pButton
                        pRipple
                        icon="pi pi-save"
                        type="button"
                        label="Сохранить"
                        class="p-button-success p-button-text p-button-sm"
                        *ngIf="isActiveFolderPageName"
                        (click)="onSaveFolderPageNameAsync()">
                </button>

                <button pButton
                        pRipple
                        icon="pi pi-times"
                        type="button"
                        label="Отмена"
                        class="p-button-secondary p-button-text p-button-sm"
                        *ngIf="isActiveFolderPageName"
                        (click)="isActiveFolderPageName=!isActiveFolderPageName">
                </button>
              </div>
            </div>
          </div>

          <div>
            <div class="">
              <p-inplace [style]="{'min-height':'33px'}" [active]="isActiveFolderPageDescription" (onActivate)="onActivateFolderPageDescription()">
                <ng-template pTemplate="display">
                  {{wikiTreeFolderPage$.value.pageDescription}}
                </ng-template>
                <ng-template pTemplate="content">
                  <input type="text" [(ngModel)]="pageDescription" value="{{pageDescription}}" pInputText>
                </ng-template>
              </p-inplace>

              <button pButton
                      pRipple
                      icon="pi pi-save"
                      type="button"
                      label="Сохранить"
                      class="p-button-success p-button-text p-button-sm"
                      *ngIf="isActiveFolderPageDescription"
                      (click)="onSaveFolderPageDescriptionAsync()">
              </button>

              <button pButton
                      pRipple
                      icon="pi pi-times"
                      type="button"
                      label="Отмена"
                      class="p-button-secondary p-button-text p-button-sm"
                      *ngIf="isActiveFolderPageDescription"
                      (click)="isActiveFolderPageDescription=!isActiveFolderPageDescription">
              </button>
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>
