<div class="block-moderation">
  <div>
    <!-- Список проектов. -->
    <p-tabView (onChange)="onSelectTabAsync($event)">
      <p-tabPanel header="Проекты" [selected]="true">
        <p-table [value]="aProjects" styleClass="p-datatable-gridlines" [tableStyle]="{'min-width': '50rem'}">
          <ng-template pTemplate="caption">
            Проекты на модерации
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>ID</th>
              <th>Название проекта</th>
              <th>Дата модерации</th>
              <th>Дата создания</th>
              <th>Просмотр</th>
              <th>Одобрение</th>
              <th>Отклонение</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-prj>
            <tr>
              <td>{{prj.projectId}}</td>
              <td>{{prj.projectName}}</td>
              <td>{{prj.dateModeration}}</td>
              <td>{{prj.dateCreated}}</td>
              <td><button pButton 
                          type="button" 
                          label="Просмотр" 
                          class="p-button-text"
                          (click)="onPreviewProjectAsync(prj.projectId)">
              </button>
              </td>
              <td><button pButton 
                          type="button" 
                          label="Одобрить" 
                          class="p-button-success p-button-text" 
                          (click)="onApproveProjectAsync(prj.projectId)">
                </button>
              </td>
              <td><button pButton type="button" label="Отклонить" class="p-button-danger p-button-text"></button></td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            Всего: {{totalProjects}}
          </ng-template>
        </p-table>
      </p-tabPanel>

      <p-tabPanel header="Вакансии">
        Content 2
      </p-tabPanel>

      <p-tabPanel header="Комментарии к проектам">
        Content 3
      </p-tabPanel>
    </p-tabView>
  </div>
</div>

<!-- Диалог просмотра проекта. -->
<p-dialog header="Просмотр проекта" 
          [(visible)]="isShowPreviewModerationProjectModal" 
          [modal]="true" 
          [style]="{width: '50vw', height: '50vw'}"
          [maximizable]="false" 
          [draggable]="false" 
          [resizable]="false">
 
  <div class="mt-3">
    <div class="control-input-text-worksheet">
      <div>
          <label>Название проекта</label>
      </div>
      <div>
          <input type="text" 
          class="p-inputtext-sm input-control-worksheet control-project" 
          placeholder="Название проекта" 
          pInputText
          autocomplete="new-password" 
          [(ngModel)]="projectName"
          [disabled]="true" />    
      </div>          
    </div>         

    <div class="control-input-text-worksheet mt-3">
      <div class="control-input-text-worksheet">
         <div>
            <label>Описание проекта</label>
        </div>
        <textarea input-control-worksheet 
                  rows="5" 
                  cols="100" 
                  pInputTextarea 
                  [autoResize]="true" 
                  autocomplete="new-password"
                  placeholder="Детали проекта"
                  [(ngModel)]="projectDetails"
                  class="control-textarea"
                  [disabled]="true"> 
        </textarea>
      </div>          
    </div>             
  </div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" 
              (click)="onApproveProjectAsync(projectId)" 
              label="Одобрить проект" 
              styleClass="p-button-success p-button-text">
    </p-button>

    <p-button icon="pi pi-check" 
              (click)="onRejectProjectAsync(projectId)" 
              label="Отклонить проект" 
              styleClass="p-button-danger p-button-text">
</p-button>
  </ng-template>
</p-dialog>