<div class="block-moderation">
  <div>
    <!-- Список проектов. -->
    <p-tabView (onChange)="onSelectTabAsync($event)">
      <p-tabPanel header="Проекты" [selected]="true">
        <p-table [value]="aProjects" 
                styleClass="p-datatable-gridlines" 
                [tableStyle]="{'min-width': '50rem'}">
          <ng-template pTemplate="caption">
              Проекты на модерации
          </ng-template>
          <ng-template pTemplate="header">
              <tr>
                <th>ID</th>
                <th>Название проекта</th>
                <th>Дата модерации</th>
                <th>Дата создания</th>
                <th>Одобрение</th>
                <th>Отклонение</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-prj>
              <tr>
                  <td>{{prj.projectId}}</td>
                  <td>{{prj.projectName}}</td>
                  <td>{{prj.dateModeration}}</td>
                  <td>{{prj.dateCreated}}</td>
                  <td><button pButton type="button" 
                    label="Одобрить" 
                    class="p-button-success p-button-text">
            </button>
        </td>       
        <td><button pButton type="button" label="Отклонить" class="p-button-danger p-button-text"></button></td>
              </tr>
          </ng-template>
          <ng-template pTemplate="summary">
              Всего: {{totalProjects}}
          </ng-template>
      </p-table>
      </p-tabPanel>

      <p-tabPanel header="Вакансии">
        Content 2
      </p-tabPanel>

      <p-tabPanel header="Комментарии к проектам">
        Content 3
      </p-tabPanel>
    </p-tabView>
  </div>
</div>