.fon {
  background-color: rgb(23 52 57 / 95%);
  height: 100vh;
  overflow: hidden;
  width: 100%;

  img {
    opacity: 0.1;
  }
}

.fon-content {
  position: absolute;
  z-index: 2;
  top: 40%;
  text-align: center;


  .fon-title {
    color: #fff;
  }

  .fon-text {
    color: rgb(255 255 255 / 65%);
    margin: 0 100px;
  }
}

.platform-offers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .offer-item {
    width: 300px;
    margin: 30px 20px 0 0;
  }

  .offer-tag {
    margin: 20px 10px;
  }
}


.block-knowledge {
  white-space: pre-line;
}

.block-new-users {
  padding: 16px;
  line-height: 1.5rem;
}

.block-statistics {
  display: flex;
  padding: 0 50px;
  gap: 20px;
}
