.fon {
  background-color: rgba(23, 52, 57, 0.95);
  display: inline-block;
  height: 100vh;
  overflow: hidden;
  overflow-x: hidden;
  width: 100%;
  margin-top: -5px;
  padding-top: -5px;
  // position: relative; 

  img {
    opacity: 0.1;
  }
}

.header {
  padding: 10px;
  align-items: center;
  position: absolute;
  z-index: 2;
  top: 0; 
}

.menu-item {
  padding: 0 10px; 
  position: relative;
  z-index: 1;
}

.btn-header {
  background: #5664d2
}

.fon-content {
  position: absolute;
  z-index: 2;
  top: 100px;
  padding: 190px 0 225px;

  .fon-title {
    color: #fff;
  }

  .fon-text {
    color: rgba(255,255,255,.5);
  }
}

.navbar-brand {
  margin-right: 100px;
}