@use "/src/app/common/styles/spaces.scss";
@use "/src/app/common/styles/control.scss";

// Медиа-запросы.
@media (max-width: 575px) {}

/* sm (>=576 и <=767) */
@media (min-width: 576px) and (max-width: 767px) {
  .block-worksheet {
    margin-left: 200px;
    margin-right: 10px;
  }

  .block-contact {
    flex-direction: column;
 }

 .worksheet-line {
    flex-direction: column;
 }

 .control-input-text-worksheet {
    margin: 20px 10px 0 0px;
 }
}

/* md (>=768 и <=991) */
@media (min-width: 768px) and (max-width: 991px) {
 .worksheet-panel {
    margin-left: 250px;
 }

 .block-contact {
    flex-direction: column;
 }

 .worksheet-line {
    flex-direction: column;
 }

 .control-input-text-worksheet {
    margin: 20px 10px 0 0px;
 }

 .input-about-me {
    width: 400px;
 }

//  .p-button-outlined {
//    width: 100px;
//  }
}

/* lg (>=992 и <=1199) */
@media (min-width: 992px) and (max-width: 1199px) {
   .profile-table {
      width: 750px;
      overflow-x: scroll;
   }
}

/* xl (>=1200) */
@media (min-width: 1200px) {
    .worksheet-panel {
        margin-left: 10px;
     }

     .profile-table {
      width: 950px;
      overflow-x: scroll;
   }

   .block-worksheet {
      margin-left: 50px;
    }
}

@media (min-width: 1440px) {
    .profile-table {
     width: 1000px;
  }
}

@media (min-width: 1536px) {
   .profile-table {
    width: 1100px;
 }
}