<p-toast></p-toast>

<div class="d-flex block-profile space-top-50">
  <div class="profile-left-menu col-lg-3">

  </div>

  <div class="block-worksheet">
    <div *ngIf="isShowRemarks" class="mb-1">
      <strong>Имеются замечания. Вакансия не будет опубликована, пока замечания не будут исправлены и приняты модератором.</strong>
    </div>

    <div class="mb-1" *ngFor="let r of selectedVacancy$.value.vacancyRemarks">
      <div>
        <p-message severity="warn" text="{{r.remarkText}}"></p-message>
      </div>
    </div>

    <div class="worksheet-panel">
      <p-panel header="Просмотр информации о вакансии" [toggleable]="true">
        <div class="d-flex mt-3">
            <div class="control-input-text-worksheet">
              <div class="d-flex">
                <div class="control-input-text-worksheet">

                  <div>
                      <label>Название вакансии</label>
                  </div>

                  <div *ngIf="isEditMode; else blockOne">
                      <input type="text"
                      class="p-inputtext-sm input-control-worksheet control-project"
                      placeholder="Название вакансии"
                      pInputText
                      autocomplete="new-password"
                      [(ngModel)]="vacancyName"
                      [disabled]="!isEditMode" />
                  </div>
                  <ng-template #blockOne>{{vacancyName}}</ng-template>
                </div>
              </div>

              <div class="d-flex">
                <div class="control-input-text-worksheet mt-3">
                  <div>
                    <label>Опыт</label>
                  </div>
                  <div *ngIf="isEditMode; else blockTwo">
                    <input type="text"
                            class="p-inputtext-sm input-control-worksheet control-vacancy"
                            placeholder="1–3 года"
                            pInputText
                            autocomplete="new-password"
                            [(ngModel)]="workExperience"
                            [disabled]="!isEditMode" />
                  </div>
                  <ng-template #blockTwo>{{workExperience}}</ng-template>
                </div>

                <div class="control-input-text-worksheet mt-3">
                  <div>
                    <label>Занятость</label>
                  </div>
                  <div *ngIf="isEditMode; else blockTree">
                    <input type="text"
                            class="p-inputtext-sm input-control-worksheet control-vacancy"
                            placeholder="Полная занятость, удаленная работа"
                            pInputText
                            autocomplete="new-password"
                            [(ngModel)]="employment"
                            [disabled]="!isEditMode" />
                  </div>
                  <ng-template #blockTree>{{employment}}</ng-template>
                </div>

                <div class="control-input-text-worksheet mt-3">
                  <div>
                    <label>Оплата</label>
                  </div>
                  <div *ngIf="isEditMode; else blockFour">
                    <input type="text"
                            class="p-inputtext-sm input-control-worksheet control-vacancy"
                            placeholder="20 000 – 40 000 руб."
                            pInputText
                            autocomplete="new-password"
                            [(ngModel)]="payment"
                            [disabled]="!isEditMode" />
                  </div>
                  <ng-template #blockFour>{{payment}}</ng-template>
                </div>
              </div>

              <div class="d-flex mt-3">
                  <div class="control-input-text-worksheet">
                      <div class="control-input-text-worksheet">
                          <div class="d-flex worksheet-line">
                              <div class="control-input-text-worksheet">
                                  <div>
                                      <label>Описание вакансии</label>
                                  </div>
                                <div *ngIf="isEditMode; else blockFive">
                                      <p-editor
                                      [(ngModel)]="vacancyText"
                                      [style]="{'height':'320px'}"
                                      [readonly]="!isEditMode"></p-editor>
                                  </div>
                                <ng-template #blockFive>
                                  {{vacancyText}}
                                </ng-template>
                              </div>
                          </div>
                        </div>
                    </div>
              </div>

              <div class="d-flex mt-3">
                <div class="control-input-text-worksheet">
                    <div class="control-input-text-worksheet">
                        <div class="d-flex worksheet-line">
                            <div class="control-input-text-worksheet">
                                <div>
                                    <label>Условия</label>
                                </div>
                              <div *ngIf="isEditMode">
                                    <p-editor
                                    [(ngModel)]="conditions"
                                    [style]="{'height':'320px'}"
                                    [readonly]="!isEditMode"></p-editor>
                                </div>
                             
                                <div *ngIf="!isEditMode">
                                  {{conditions}}
                                </div>
                            </div>
                        </div>
                      </div>
                  </div>
            </div>

            <div class="d-flex mt-3">
              <div class="control-input-text-worksheet">
                  <div class="control-input-text-worksheet">
                      <div class="d-flex worksheet-line">
                          <div class="control-input-text-worksheet">
                              <div>
                                  <label>Требования</label>
                              </div>
                            <div *ngIf="isEditMode">
                                  <p-editor
                                  [(ngModel)]="demands"
                                  [style]="{'height':'320px'}"
                                  [readonly]="!isEditMode"></p-editor>
                              </div>
                           
                              <div *ngIf="!isEditMode">
                                {{demands}}
                              </div>
                          </div>
                      </div>
                    </div>
                </div>
          </div>
            </div>
          </div>
      </p-panel>
    </div>

    <div class="worksheet-panel space-top-50 space-bottom-50 d-flex">
      <p-panel header="Действия" [toggleable]="true" [collapsed]="true">
        <div class="d-flex">
          <div class="control-input-text-worksheet">
            <div class="mb-3">
              <div>
                <div>
                  <button pButton
                          type="button"
                          label="Сохранить изменения"
                          class="p-button-outlined p-button-secondary p-button-text"
                          *ngIf="isVisibleSaveButton && isEditMode"
                          (click)="onUpdateVacancyAsync()">
                  </button>
                </div>

                <div>
                  <button pButton
                          type="button"
                          label="Изменить вакансию"
                          class="p-button-outlined p-button-secondary p-button-text"
                          *ngIf="isVisibleEditButton"
                          (click)="onEditVacancy()">
                  </button>
                </div>

                <div>
                  <button pButton
                          type="button"
                          label="Добавить вакансию в архив"
                          class="p-button-warning p-button-text"
                          (click)="isDeleteVacancy=true"
                          *ngIf="isVisibleActionAddVacancyArchive">
                  </button>
                </div>

                <div>
                  <button pButton
                          type="button"
                          label="Удалить вакансию"
                          class="p-button-danger p-button-text"
                          (click)="isDeleteVacancy=true"
                          *ngIf="isVisibleDeleteButton">
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </p-panel>
    </div>
  </div>
</div>

<!-- Диалог удаления вакансии. -->
<p-dialog  header="Удаление вакансии"
          [(visible)]="isDeleteVacancy"
          [breakpoints]="{'960px': '75vw'}"
          [style]="{width: '50vw'}"
          [draggable]="false"
          [resizable]="false"
          icon="pi pi-exclamation-triangle">
        <p>Удалить вакансию <strong>{{selectedVacancy$.value.vacancyName}}?</strong></p>
        <ng-template pTemplate="footer">
        <p-button (click)="isDeleteVacancy=false" label="Отмена" styleClass="p-button-text"></p-button>
        <p-button (click)="onDeleteVacancyAsync()" label="Удалить" styleClass="p-button-text p-button-danger"></p-button>
        </ng-template>
</p-dialog>
