<p-toast></p-toast>

<form [formGroup]="formSignUp" class="section-1-container section-container">
    <div class="container">
      <div class="row">
        <div class="col-10 offset-1 col-lg-8 offset-lg-2 div-wrapper d-flex justify-content-center align-items-center">
            <div class="form-signin-wrapper">
              <h3 class="title-text">Вход</h3>

              <div class="form-signin">
                <div class="mb-3">
                  <input type="email"
                          class="p-control"
                          aria-describedby="emailHelp"
                          pInputText 
                          placeholder="Email"
                          formControlName="email">
                </div>

                <div class="mb-3">
                  <p-password
                    class="p-password-control"
                    formControlName="password"
                    [toggleMask]="true"
                    placeholder="Пароль"
                    [feedback]="false"
                  />
                </div>

              <div class="mb-3 form-signin-extra">
                <div class="form-signin-checkbox">
                  <!-- TODO: доделать запоминание пользователя -->
                  <!-- <p-checkbox 
                    formControlName="remember" 
                    value="1"
                    inputId="remember"
                    class="p-checkbox-control"
                    />
                  <label class="remember-label" for="remember">Запомнить меня</label> -->
                </div>
                <a routerLink="/profile/restore" class="a-link">Забыли пароль?</a>
              </div>

                <button type="submit"
                        class="btn btn-signin"
                        (click)="onSendFormSignInAsync()">
                  Войти
                </button>
              </div>
              <!-- Отображаем вход через Google. -->
              <!-- <div class="mt-3">
                <div id="buttonDiv"></div>
              </div> -->

              <!-- Отображаем вход через VK. -->
              <!-- <div class="mt-3">
                <div id="vk_auth"></div>
              </div> -->
            </div>
        </div>
      </div>
    </div>
  </form>
