/* sm (>=576 и <=767) */
@media (width >= 576px) and (width <= 767px) {
  .block-worksheet {
    margin-left: 200px;
    margin-right: 10px;
  }

  .block-contact {
    flex-direction: column;
  }

  .worksheet-line {
    flex-direction: column;
  }

  .control-input-text-worksheet {
    margin: 20px 10px 0 0;
  }
}

/* md (>=768 и <=991) */
@media (width >= 768px) and (width <= 991px) {
  .worksheet-panel {
    margin-left: 250px;
  }

  .block-contact {
    flex-direction: column;
  }

  .worksheet-line {
    flex-direction: column;
  }

  .control-input-text-worksheet {
    margin: 20px 10px 0 0;
  }

  .input-about-me {
    width: 400px;
  }
}

/* xl (>=1200) */
@media (width >= 1200px) {
  .worksheet-panel {
    margin-left: 10px;
  }
}
